.listItem {
  border-width: 2px;
  padding: 1.25rem;
}

.listItem:hover .buttons {
  opacity: 1;
}

.separator {
  width: 2px;
  background-color: var(--color-1-500);
  height: 15px;
}

.btnIcon,
.btnDeleteIcon {
  font-size: 0.65rem;
}

.modal code {
  word-wrap: normal !important;
  white-space: pre !important;
}

.dropdown {
  width: 20rem;
}

.btnLight {
  background-color: var(--color-1-20) !important;
  border-color: var(--color-1-20) !important;
}

.kindIcon {
  width: 18px;
  height: auto;
}

@media (hover: hover) {
  .buttons {
    opacity: 0;
  }
}

@media only screen and (max-width: 575.98px) {
  .dropdown {
    right: -14px !important;
    top: 120% !important;
  }

  .btnIcon {
    font-size: 0.95rem;
  }

  .btnAction {
    margin-left: 0.6rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50% !important;
    background-color: var(--color-1-10) !important;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
