.labelWrapper {
  margin-top: 4px;
}

.btnIcon {
  font-size: 0.65rem;
}

.modal code {
  word-wrap: normal !important;
  white-space: pre !important;
}

.btnDropdown {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50% !important;
  background-color: var(--color-1-10) !important;
  line-height: 1rem;
}

.dropdownMenu {
  top: 55px;
  right: 3px;
}

.btnLight {
  background-color: var(--color-1-20) !important;
  border-color: var(--color-1-20) !important;
}

.copyBtnWrapper {
  margin-top: -18px;
}

.copyBtn {
  min-width: 30px;
}

@media only screen and (max-width: 575.98px) {
  .titleCard {
    font-size: 1rem;
  }

  .btn {
    padding: 0.25em 0.4em;
    font-size: 85%;
    line-height: 1.05rem;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
