.modal {
  max-width: 90%;
  width: 620px !important;
}

.body {
  min-height: 505px;
}

.allowPrivateModal .body {
  min-height: 600px;
}

.inputAdditionalInfoURL {
  font-size: 90%;
}

.kindIcon {
  height: auto;
  width: 18px;
}

.label {
  font-size: 0.875rem;
}

.customControlRightLabel::before {
  right: -2.25rem;
  left: auto !important;
}

.customControlRightLabel::after {
  right: -1.38rem;
  left: auto !important;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
