.modal {
  max-width: 90%;
  width: 620px !important;
}

.allowPrivateModal {
  min-height: 715px;
}

.inputAdditionalInfoURL {
  font-size: 90%;
}

.kindIcon {
  height: auto;
  width: 18px;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
