.closeModalBtn {
  margin: -1rem;
  padding: 1rem !important;
}

.icon {
  top: -2px;
}

.content {
  font-size: 1rem;
}

.trackingWarningBtn {
  min-width: 20px;
  line-height: 1.15;
  font-size: 1rem;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
