.filters {
  min-width: 175px;
}

.title {
  line-height: 1.5;
}

.resetBtnWrapper {
  padding-top: 1px;
}

.resetBtn {
  font-size: 0.75rem;
}

.resetBtnDecorator {
  font-size: 0.8rem;
  height: 1.5em;
}

.checkbox {
  font-size: 0.85rem;
}

@media only screen and (max-width: 767.98px) {
  .filters {
    font-size: 1rem;
  }
}
