.iconWrapper {
  width: 1.65rem;
  height: 1.65rem;
  background-color: var(--white);
  border: 1px solid var(--color-1-500);
  padding: 2px;
  overflow: hidden;
  line-height: 1;
  font-size: 1.15rem !important;
}

.dropdown {
  min-width: 10rem;
  top: 120% !important;
}

.arrow {
  right: 0.3rem !important;
}

@media only screen and (max-width: 767.98px) {
  .dropdown {
    width: 18rem;
    right: -5rem;
  }

  .arrow {
    right: 6.25rem !important;
  }
}
