.modalDialog {
  font-size: 1rem;
}

.iconWrapper {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  border: 1px solid var(--color-1-500);
  padding: 2px;
  overflow: hidden;
  line-height: 1;
  font-size: 1.25rem !important;
}

.label {
  font-size: 0.875rem;
}

.customControlRightLabel::before {
  right: -2.25rem;
  left: auto !important;
}

.customControlRightLabel::after {
  right: -1.38rem;
  left: auto !important;
}

.colorInputWrapper {
  padding: 0.25rem;
  border: 1px solid var(--border-md);
  margin-left: 0.5rem;
}

.colorInput {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.colorPickerWrapper {
  width: 220px;
}

.inputWrapper {
  width: 9rem;
  margin-top: 1.75rem;
}

.input {
  height: 28px;
}

.copyBtn {
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.copyBtnTooltip {
  top: -0.4rem;
  left: 15rem;
  right: auto;
}

.copyBtnArrow {
  top: 13px !important;
  left: -6px !important;
}

.copyBtnArrow::before {
  border-right-color: var(--color-1-900) !important;
  border-bottom-color: transparent !important;
  border-width: 0.4rem 0.4rem 0.4rem 0 !important;
}
