.separator {
  height: 3px;
  width: 100px;
  background-color: var(--color-1-700);
}

.formWrapper {
  max-width: 100%;
  width: 400px;
  min-width: 60%;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.5rem;
  }
}
