.arrowBtn {
  font-size: 2rem;
}

.arrowBtn:not(.disabled) {
  color: #fcfcfc !important;
}

.imgErrorIcon {
  font-size: 4rem;
}

.minHeight {
  height: 1%;
}

.image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  border: 3px solid var(--color-black-90);
  background-image: url(../../../static/media/pattern-transparent.png);
  background-repeat: repeat;
}

.externalLink {
  background-color: transparent;
  text-decoration: underline;
  top: -1px;
}

.disabledDotBtn {
  color: #fcfcfc !important;
  opacity: 1 !important;
}

.dotBtn {
  color: #6c757d !important;
}

.disabled {
  color: #6c757d;
}

.loading {
  background-color: transparent;
}

.imgTitle {
  color: #fcfcfc;
  max-width: 600px;
}

.bigImg {
  cursor: zoom-in;
}

.bigImageView {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.bigImageView.isVisible {
  z-index: 10;
  cursor: zoom-out;
}

.zoomedImgWrapper {
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overscroll-behavior: contain;
  border: 3px solid var(--color-black-90);
  background-image: url(../../../static/media/pattern-transparent.png);
  background-repeat: repeat;
}

@media only screen and (max-width: 767.98px) {
  .arrowBtn {
    font-size: 1.25rem;
    padding: 0.375rem;
  }
}
