.arrowBtn {
  font-size: 2rem;
}

.arrowBtn:not(.disabled) {
  color: #fcfcfc !important;
}

.imgErrorIcon {
  font-size: 4rem;
}

.minHeight {
  height: 1%;
}

.image {
  border: 3px solid var(--color-black-90);
  object-fit: contain; /* Avoid shrink */
}

.externalLink {
  background-color: transparent;
  text-decoration: underline;
  top: -1px;
}

.dotBtn:not(.disabled) {
  color: #fcfcfc !important;
}

.disabled {
  color: #6c757d;
}

.loading {
  background-color: transparent;
}

.imgTitle {
  color: #fcfcfc;
  max-width: 600px;
}

@media only screen and (max-width: 767.98px) {
  .arrowBtn {
    font-size: 1.25rem;
    padding: 0.375rem;
  }
}
