.card {
  max-width: 100%;
  background-color: var(--white) !important;
  box-shadow: 0px 0px 5px 0px var(--light);
}

.body {
  padding: 1.75rem !important;
}

.title {
  line-height: 1;
  word-break: break-word;
}

.badge {
  font-size: 0.5rem;
}

.inactiveBadge {
  opacity: 0.5;
}

.btnDropdown {
  height: 1.75rem;
  width: 1.75rem;
  line-height: 0.85rem;
}

.dropdownMenu {
  top: 55px;
  right: 3px;
}

.btnIcon {
  font-size: 0.65rem;
}

.badgeNoPackages {
  cursor: pointer;
}

@media only screen and (max-width: 767.98px) {
  .body {
    padding: 1rem !important;
  }

  .badge {
    font-size: 0.6rem !important;
  }
}
