.card {
  max-width: 100%;
  background-color: var(--white) !important;
  box-shadow: 0px 0px 5px 0px var(--light);
}

.body {
  padding: 1.75rem !important;
}

.title {
  line-height: 1;
  word-break: break-word;
}

.badge {
  font-size: 0.5rem;
}

.inactiveBadge {
  opacity: 0.5;
}

.btnDropdown {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50% !important;
  background-color: var(--color-1-10) !important;
  line-height: 1rem;
}

.dropdownMenu {
  top: 55px;
  right: 3px;
}

.btnIcon {
  font-size: 0.65rem;
}

.btnLight {
  background-color: var(--color-1-20) !important;
  border-color: var(--color-1-20) !important;
}

.badgeNoPackages {
  cursor: pointer;
}

@media only screen and (max-width: 767.98px) {
  .body {
    padding: 1rem !important;
  }

  .subtitle {
    flex-direction: column !important;
  }

  .badge {
    font-size: 0.6rem !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .subtitle {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .btn {
    padding: 0.25em 0.4em;
    font-size: 85%;
    line-height: 1.05rem;
  }
}
