.label {
  font-size: 0.875rem;
}

.table {
  background-color: var(--white);
  border: 1px solid var(--color-1-300);
  word-break: break-word;
}

.tableTitle th {
  border-top: 2px solid var(--color-1-300) !important;
  border-bottom-color: var(--color-1-300) !important;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.imageWrapper {
  min-width: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 2px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  font-size: 1.5rem;
}

.icon {
  height: auto;
  width: 15px;
}

.link u {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.codeWrapper {
  overflow-x: auto;
}

.customControlRightLabel::before {
  right: -2.25rem;
  left: auto !important;
}

.customControlRightLabel::after {
  right: -1.38rem;
  left: auto !important;
}

.variablesTable {
  background-color: var(--white);
  border: 1px solid var(--border-md);
}

.btnLight {
  background-color: var(--color-1-20) !important;
  border-color: var(--color-1-20) !important;
}

.closeBtn {
  opacity: 1;
}

@media (hover: hover) {
  .closeBtn {
    opacity: 0;
  }

  tr:hover .closeBtn {
    opacity: 1;
  }
}
