apiVersion: v2
name: artifact-hub
description: Artifact Hub is a web-based application that enables finding, installing, and publishing Kubernetes packages.
type: application
version: 1.8.0
appVersion: 1.8.0
kubeVersion: ">= 1.19.0-0"
home: https://artifacthub.io
icon: https://artifacthub.github.io/helm-charts/logo.png
keywords:
  - kubernetes
  - helm
  - falco
  - opa
  - olm
  - tinkerbell actions
  - krew
  - tekton
  - keda scalers
  - coredns
  - keptn
  - containers images
maintainers:
  - name: Sergio
    email: tegioz@icloud.com
  - name: Cintia
    email: cynthiasg@icloud.com
  - name: Matt
    email: matt@mattfarina.com
dependencies:
  - name: postgresql
    version: 8.2.1
    repository: https://charts.helm.sh/stable
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |
    - kind: added
      description: Support for comparing Helm charts default values
    - kind: added
      description: Make tracker repository timeout configurable
    - kind: changed
      description: Reduce modals height on small screens
    - kind: changed
      description: Upgrade backend and frontend dependencies
    - kind: changed
      description: Bump Trivy to 0.28.1
    - kind: fixed
      description: Issue checking user alias availability
    - kind: fixed
      description: Check for index.yaml mismatches in charts repos
    - kind: fixed
      description: Some bugs and other improvements
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/images: |
    - name: db-migrator
      image: artifacthub/db-migrator:v1.8.0
    - name: hub
      image: artifacthub/hub:v1.8.0
    - name: tracker
      image: artifacthub/tracker:v1.8.0
    - name: scanner
      image: artifacthub/scanner:v1.8.0
    - name: trivy
      image: aquasec/trivy:0.28.1
  artifacthub.io/links: |
    - name: source
      url: https://github.com/artifacthub/hub
    - name: support
      url: https://github.com/artifacthub/hub/issues
  artifacthub.io/screenshots: |
    - title: Home page
      url: https://artifacthub.github.io/hub/screenshots/screenshot1.jpg
    - title: Packages search
      url: https://artifacthub.github.io/hub/screenshots/screenshot2.jpg
    - title: Package details
      url: https://artifacthub.github.io/hub/screenshots/screenshot3.jpg
    - title: Security report
      url: https://artifacthub.github.io/hub/screenshots/screenshot4.jpg
    - title: Values schema
      url: https://artifacthub.github.io/hub/screenshots/screenshot5.jpg
    - title: Changelog
      url: https://artifacthub.github.io/hub/screenshots/screenshot6.jpg
