apiVersion: v2
name: artifact-hub
description: Artifact Hub is a web-based application that enables finding, installing, and publishing Cloud Native packages.
type: application
version: 1.22.1-3
appVersion: 1.22.0
kubeVersion: ">= 1.19.0-0"
home: https://artifacthub.io
icon: https://artifacthub.github.io/helm-charts/logo.png
keywords:
  - kubernetes
  - helm
  - falco
  - opa
  - olm
  - tinkerbell actions
  - krew
  - tekton
  - keda scalers
  - coredns
  - keptn
  - containers images
  - kubewarden
  - gatekeeper
  - kyverno
  - knative
  - backstage
  - argo
  - kubearmor
  - kcl
  - headlamp
  - inspektor gadget
  - meshery
  - opencost
  - radius
  - bootable containers
  - kagent
maintainers:
  - name: Sergio
    email: tegioz@icloud.com
  - name: Cintia
    email: cynthiasg@icloud.com
  - name: Matt
    email: matt@mattfarina.com
dependencies:
  - name: postgresql
    version: 18.0.15
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |
    - kind: added
      description: Support for kagent.dev agents
      links:
        - name: GitHub Issue
          url: https://github.com/artifacthub/hub/issues/4374
    - kind: added
      description: Display app version in versions modal
    - kind: added
      description: Allow setting extra env vars from chart
    - kind: added
      description: FAQ section to the documentation
    - kind: changed
      description: Improve versions table in modal
    - kind: changed
      description: Set user agent header in outgoing requests
    - kind: changed
      description: Upgrade chart postgresql dependency
    - kind: changed
      description: Bump Alpine to 3.22.2
    - kind: changed
      description: Bump Go to 1.25.3
    - kind: changed
      description: Bump Trivy to 0.67.2
    - kind: changed
      description: Bump OPM to 1.60.0
    - kind: changed
      description: Upgrade backend and frontend dependencies
    - kind: fixed
      description: Ignore parameterized images in Tekton packages
    - kind: fixed
      description: Issue with data labels on bar charts
  artifacthub.io/containsSecurityUpdates: "true"
  artifacthub.io/images: |
    - name: db-migrator
      image: artifacthub/db-migrator:v1.22.0
    - name: hub
      image: artifacthub/hub:v1.22.0
    - name: tracker
      image: artifacthub/tracker:v1.22.0
    - name: scanner
      image: artifacthub/scanner:v1.22.0
    - name: trivy
      image: aquasec/trivy:0.67.2
  artifacthub.io/links: |
    - name: source
      url: https://github.com/artifacthub/hub
    - name: support
      url: https://github.com/artifacthub/hub/issues
  artifacthub.io/screenshots: |
    - title: Home page
      url: https://artifacthub.github.io/hub/screenshots/screenshot1.jpg
    - title: Packages search
      url: https://artifacthub.github.io/hub/screenshots/screenshot2.jpg
    - title: Package details
      url: https://artifacthub.github.io/hub/screenshots/screenshot3.jpg
    - title: Security report
      url: https://artifacthub.github.io/hub/screenshots/screenshot4.jpg
    - title: Values schema
      url: https://artifacthub.github.io/hub/screenshots/screenshot5.jpg
    - title: Changelog
      url: https://artifacthub.github.io/hub/screenshots/screenshot6.jpg
