apiVersion: v2
name: artifact-hub
description: Artifact Hub is a web-based application that enables finding, installing, and publishing Kubernetes packages.
type: application
version: 0.6.3
appVersion: 0.6.0
home: https://artifacthub.io
icon: https://artifacthub.github.io/hub/chart/logo.png
keywords:
  - kubernetes
  - helm
  - falco
  - opa
  - olm
maintainers:
  - name: Sergio
    email: tegioz@icloud.com
  - name: Cintia
    email: cynthiasg@icloud.com
dependencies:
  - name: postgresql
    version: 8.2.1
    repository: https://kubernetes-charts.storage.googleapis.com/
    condition: postgresql.enabled
