postgresql:
  enabled: false

log:
  level: debug
  pretty: true

db:
  port: "5432"
  database: hub

hub:
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: alb
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/listen-ports: '[{ "HTTP": 80 }, { "HTTPS": 443 }]'
      alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": {"Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301" }}'
    rules:
      - http:
          paths:
            - path: /*
              backend:
                serviceName: ssl-redirect
                servicePort: use-annotation
            - path: /*
              backend:
                serviceName: hub
                servicePort: 80
  service:
    type: NodePort
    port: 80
  deploy:
    replicaCount: 3
    resources:
      requests:
        cpu: 2
        memory: 8000Mi
  server:
    baseURL: https://artifacthub.io
    shutdownTimeout: 20s
    oauth:
      github:
        redirectURL: https://artifacthub.io/oauth/github/callback
      google:
        redirectURL: https://artifacthub.io/oauth/google/callback

scanner:
  cronjob:
    resources:
      requests:
        cpu: 2
        memory: 4000Mi
  concurrency: 10
  trivyURL: http://trivy:8081

tracker:
  cronjob:
    resources:
      requests:
        cpu: 2
        memory: 4000Mi
  concurrency: 10
  repositoriesNames: []
  repositoriesKinds: []
  imageStore: pg
  bypassDigestCheck: false
  events:
    trackingErrors: true

trivy:
  deploy:
    image: aquasec/trivy:0.11.0
    resources:
      requests:
        cpu: 2
        memory: 4000Mi
  persistence:
    enabled: true
    size: 100Gi
    storageClassName: gp2
