.badge {
  height: 25px;
  max-width: 300px;
  border-color: var(--border-md) !important;
}

.badgeContent {
  font-size: 0.8rem;
}

.imageWrapper {
  min-width: 23px;
  width: 23px;
  height: 23px;
  border-color: var(--color-1-10) !important;
  padding: 0.2rem;
}

.image {
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
}
