.btn {
  font-size: inherit;
}

.dropdownMenu {
  top: 25px;
  left: -10px;
  min-width: calc(100% + 20px);
}

.content {
  margin-top: 2px;
  min-width: 0px;
}

.arrow {
  left: 5px;
}

.badge {
  top: -2px;
}

.desc {
  word-break: break-word;
}

.icon {
  width: 20px;
}

.moreInfo {
  margin-left: 20px;
}
