.wrapper {
  width: 45%;
  margin-left: -15px;
}

.list {
  background-color: var(--white);
  border: 1px solid var(--color-black-15);
  border-top: none;
  border-radius: 3px;
  z-index: 100;
  right: 0;
  top: 31px;
}

.option {
  padding: 0.5rem 1rem;
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    width: 30%;
  }
}
