.DS_Store
*.swp
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.hugo_build.lock
node_modules/
web/build
web/public/docs
web/coverage
web/src/static
widget/build
widget/coverage
charts/artifact-hub/charts
Chart.lock
docs/www/content/topics/*
!docs/www/content/topics/annotations
docs/www/content/topics/annotations/*
!docs/www/content/topics/annotations/_index.md
dist
ml/category/data/generated
ml/category/__pycache__
