.content {
  height: 1px;
}

.codeWrapper {
  background-color: #343a40;
  border-radius: 3px;
  overscroll-behavior: contain;
}

:global(.linenumber) {
  user-select: none;
}

:global(.customYAML .hljs-attr),
:global(.customYAML .hljs-bullet) {
  color: #f8f9fa;
}

:global(.customYAML .hljs-comment) {
  color: #8e908c;
}

:global(.customYAML span),
:global(.customYAML .hljs-string) {
  line-height: 1.5rem;
  color: #ffc107;
}

:global(.customYAML .hljs-literal),
:global(.customYAML .hljs-number) {
  color: #dc3545;
}

:global(.customYAML .hljs-string ~ .hljs-number) {
  color: #ffc107;
}

[data-line-number]::before {
  content: attr(data-line-number);
  position: absolute;
  width: 4rem;
  text-align: right;
  left: -4.25rem;
  padding-right: 1rem;
  color: #f8f9fa;
  opacity: 0.5;
  user-select: none;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

[data-clickable-line='true'] {
  cursor: pointer;
}

[data-clickable-line='true']:hover::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  height: 1.5rem;
  width: calc(100% + 2rem);
  left: -0.5rem;
}

[data-clickable-line='true']:hover::before {
  opacity: 1;
}

[data-line-number] {
  display: block;
}

[data-active-line='true']::before {
  opacity: 1;
}

[data-active-line='true']::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  height: 1.5rem;
  width: calc(100% + 2rem);
  left: -0.5rem;
  border-left: 2px solid #f8f9fa;
}

.dropdown {
  left: 4rem;
}

.arrow {
  right: auto;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}

@media only screen and (max-height: 700px) {
  .modalDialog {
    min-height: calc(100% - 6rem) !important;
    max-height: calc(100% - 6rem) !important;
    margin: 3rem auto !important;
  }

  .modalFooter {
    display: none;
  }

  .title {
    font-size: 1.35rem;
  }
}
