.filters {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: var(--white);
  pointer-events: auto;
  z-index: 1;
}

.btnFilters {
  transition: all .3s ease-in-out;
  background-color: var(--color-black-5) !important;
  height: 32px;
  width: 32px;
}

@media (hover: hover) {
  .btnFilters:hover {
    background-color: var(--color-black-15) !important;
  }
}
