.select {
  height: 25px !important;
  width: 62px !important;
  line-height: 1rem !important;
  padding-left: 0.75rem !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .select:active {
    font-size: 16px !important;
  }
}
