.card {
  max-width: 100%;
  background-color: var(--white) !important;
  box-shadow: 0px 0px 5px 0px var(--light);
}

@media (hover: hover) {
  .card:hover {
    border-color: var(--color-1-700);
    box-shadow: 0px 0px 5px 0px var(--color-1-900);
  }
}

.body {
  padding: 1.75rem !important;
}

.legend {
  font-size: 0.5rem;
}

.icon {
  height: auto;
  width: 18px;
}

.imageWrapper {
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
}

.link {
  color: var(--gray-dark);
  background-color: transparent;
}

.link:hover {
  color: inherit;
}

.title {
  line-height: 1;
}

.subtitle {
  font-size: 0.85rem;
  line-height: 1.2;
}

.subtitle span {
  font-size: 0.65rem;
}

.kind {
  font-size: 0.75rem;
  color: var(--color-1-500);
}

.truncateWrapper {
  min-width: 0;
}

.btn:disabled {
  cursor: auto;
}

.checkbox,
.checkbox + label {
  cursor: pointer;
}

@media only screen and (max-width: 767.98px) {
  .imageWrapper {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }

  .image {
    max-width: calc(100% - 4px);
    max-height: calc(100% - 4px);
  }

  .body {
    padding: 1rem !important;
  }

  .subtitle {
    flex-direction: column !important;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .subtitle {
    font-size: 0.95rem;
  }
}
