.table tbody {
  background-color: var(--white);
}

.table,
.table th,
.table td {
  border-color: var(--color-1-300) !important;
}

.fitCell {
  width: 1%;
}

.table th {
  line-height: 1;
  height: 55px;
}

.tableTitle th {
  border-bottom-color: var(--color-1-300) !important;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.checkbox,
.checkbox + label {
  cursor: pointer;
}

.checkbox:disabled,
.checkbox:disabled + label {
  cursor: auto;
}

.imageWrapper {
  min-width: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 2px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  font-size: 1.5rem;
}

.icon {
  height: auto;
  width: 21px;
}

.link u {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.legend,
.tinyIcon {
  font-size: 85%;
}

.switchLoading {
  top: 0;
  right: 50%;
  margin-right: -32px;
}

@media only screen and (max-width: 767.98px) {
  .btnAction {
    margin-left: 0.6rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50% !important;
    padding: 0 !important;
    font-size: 1.5rem !important;
  }

  .title {
    font-size: 1.5rem;
  }

  .table {
    font-size: 0.8rem;
  }
}
