[data-theme='dark'] {
  --border-md: rgba(209, 210, 211, 0.13);
  --code-bg-md: var(--color-1-700);
  --body-light-bg: #222529;

  --color-1-100: #222529;
  --color-1-300: #222529;
  --color-1-500: #131216;
  --color-1-700: #131216;
  --color-1-900: #0f0e11;

  --color-1-2: rgba(15, 14, 17, 0.98);
  --color-1-5: rgba(15, 14, 17, 0.95);
  --color-1-10: rgba(15, 14, 17, 0.9);
  --color-1-20: rgba(15, 14, 17, 0.8);
  --color-1-95: rgba(15, 14, 17, 0.95);
  --color-2-500: #0f0e11;

  --color-2-10: rgba(var(--color-2-500), 0.1);

  --color-3-10: rgba(34, 37, 41, 0.1);
  --color-3-50: rgba(34, 37, 41, 0.5);

  --color-black-5: rgba(255, 255, 255, 0.05);
  --color-black-15: rgba(255, 255, 255, 0.15);
  --color-black-25: rgba(255, 255, 255, 0.25);
  --color-black-50: rgba(255, 255, 255, 0.5);
  --color-black-75: rgba(255, 255, 255, 0.75);
  --color-black-90: rgba(255, 255, 255, 0.9);

  --color-white-50: rgba(0, 0, 0, 0.5);
  --color-white-95: rgba(0, 0, 0, 0.95);

  --logo-font: 'Archivo Black', cursive;

  --white: var(--body-bg);
  --black: var(--color-1-100);
  --light: var(--color-1-900);

  --color-font: #a3a3a6;
  --body-bg: #222529;

  --highlighted: #1164a3;
  --extra-light-gray: var(--color-2-500);
  --light-gray: var(--body-bg);
  --mid-gray: #495057;

  $border-solid: #737475;

  body {
    background-color: var(--body-bg);
    color: var(--color-font);
  }

  // $theme-colors for Bootstrap
  $color1: #1a1d21;
  $color2: #8c96a1;

  $font-color: #a3a3a6;
  $font-color-light: #cbd3da;
  $font-color-lighter: #f8f9fa;

  .was-validated .form-check-input:valid ~ .form-check-label,
  .form-check-input.is-valid ~ .form-check-label,
  .was-validated .custom-control-input:valid ~ .custom-control-label,
  .custom-control-input.is-valid ~ .custom-control-label {
    color: var(--color-font);
  }

  .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before,
  .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    border-color: var(--highlighted);
    background-color: var(--highlighted);
  }

  .table {
    background-color: var(--color-1-700) !important;
    border-top: var(--border-md) !important;
    color: var(--color-font);

    th,
    td {
      border-color: $border-solid;
    }
  }

  .table-primary,
  .table-primary > td,
  .table-primary > th {
    background-color: var(--color-1-500);
    color: var(--color-font);
    border-color: $border-solid !important;
  }

  .table-hover .table-primary:hover,
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: var(--color-1-2);
  }

  .table-bordered td {
    border-color: $border-solid !important;
  }

  .table-hover tbody tr:hover {
    background-color: var(--color-black-5);
    color: inherit;
  }

  .border-bottom {
    border-color: var(--border-md) !important;
  }

  .navbarBtn {
    color: $font-color !important;

    &:hover {
      color: $font-color-light !important;
    }
  }

  .btn-primary,
  .btn-secondary,
  .btn-light,
  a.badge-secondary {
    @include button-variant($color1, $border-solid);

    &:hover,
    &:focus {
      color: $font-color-light;
    }
  }

  .btn-success {
    @include button-variant(#275000, $border-solid);
  }

  .badge-secondary {
    border-color: var(--border-md) !important;
    background-color: var(--color-font);
    color: var(--color-1-500);
  }

  a.rssBadge {
    background-color: var(--color-font) !important;
    color: var(--color-1-500) !important;

    &:hover {
      background-color: $font-color-lighter !important;
    }
  }

  .btn-outline-secondary {
    @include button-variant($color1, $border-solid);

    img {
      filter: grayscale(100%) invert(1) brightness(2);
    }

    &:hover,
    &:focus {
      color: $font-color-light;
    }
  }

  .custom-control-label::before,
  select,
  input,
  .form-control {
    background-color: var(--body-bg);
    border-color: $color2;
    color: $font-color;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--highlighted);
    border-color: var(--highlighted);
  }

  .custom-select:focus {
    border-color: var(--border-md);
  }

  .was-validated .form-control:valid {
    border-color: var(--color2) !important;
  }

  .was-validated .custom-control-input:valid ~ .custom-control-label::before,
  .custom-control-input.is-valid ~ .custom-control-label::before,
  .was-validated .custom-select:valid,
  .custom-select.is-valid,
  .was-validated .custom-select:valid:focus,
  .custom-select.is-valid:focus {
    border-color: var(--color2);
  }

  .dropdown-item,
  .list-group-item {
    &:hover,
    &:focus {
      color: $font-color;
      background-color: var(--color-1-500);
    }
  }

  .dropdownItem:hover {
    background-color: var(--color-1-500);
  }

  .nav-item .btn:hover::before {
    background-color: $font-color;
  }

  .navbar-brand {
    color: $font-color-lighter;

    &:hover,
    &:focus {
      color: $font-color-lighter !important;
    }
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: var(--color-1-300);
  }

  .card,
  .list-group-item {
    background-color: var(--color-1-500) !important;
    border-color: var(--border-md) !important;
    box-shadow: none !important;
  }

  .notificationCard {
    box-shadow: 0px 0px 25px 5px var(--color-black-25);
  }

  .activeVersion {
    & > span {
      color: var(--highlighted);
    }
  }

  .activeTemplate {
    background-color: #090a0c;
  }

  @media (hover: hover) {
    .cardWithHover:hover {
      border-color: var(--color-black-25) !important;
    }
  }

  .btn {
    color: $font-color;
  }

  .text-muted {
    color: $font-color !important;
    opacity: 0.65;
  }

  a.textLight,
  a.text-primary,
  .anchorHeader {
    &:hover,
    &:focus {
      color: $font-color;
    }
  }

  .textLight {
    color: $font-color-light !important;
  }

  .text-primary,
  .text-secondary {
    color: $font-color !important;
  }

  .anchorHeader {
    color: $font-color-light !important;
  }

  .hightlighted {
    color: var(--highlighted);
  }

  .card a.text-primary {
    color: $font-color !important;

    &:hover > *,
    &:focus > * {
      color: $font-color-light !important;
    }
  }

  .btn-link,
  a.text-secondary,
  a:not(.navbar-brand) {
    color: $font-color;

    &:hover,
    &:focus {
      color: $font-color-light;
    }
  }

  .page-link {
    background-color: var(--color-1-300);
    color: $font-color;
    border-color: $font-color;
  }

  .page-item {
    &.disabled .page-link {
      background-color: var(--color-black-15) !important;
      color: $font-color;
      border-color: $font-color;
    }

    &.active .page-link {
      background-color: var(--highlighted);
      border-color: #a3a3a6;
    }
  }

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.95);
    border-color: var(--border-md);
    color: $font-color;

    & > .arrow {
      &::after,
      &::before {
        border-bottom-color: var(--border-md);
      }
    }
  }

  .dropdown-divider {
    border-color: var(--border-md);
  }

  .dropdown-item,
  .jumbotron {
    color: $font-color;
  }

  .package-detail-jumbotron {
    background-color: var(--color-1-500) !important;
    border-top: 1px solid var(--border-md);
  }

  code {
    color: $font-color !important;
  }

  .badge-light,
  .bg-light {
    background-color: var(--body-bg) !important;
    color: var(--color-font) !important;
    border-color: $border-solid !important;
  }

  *:disabled,
  .disabled {
    color: $font-color !important;
  }

  .text-dark {
    color: var(--color-font) !important;
    &:hover {
      color: darken($font-color, 0.3) !important;
    }
  }

  .alert-primary {
    color: var(--color-font);
    background-color: var(--color-1-10);
    border-color: var(--color-1-20);
  }

  .alert-light {
    background-color: var(--color-1-900);
    color: var(--color-font);
    border-color: var(--border-md);
  }

  .alert-danger {
    background-color: #921e12;
    color: #f5c6cb;
  }

  // Modifiers
  .searchBar {
    background-color: var(--body-bg);

    svg {
      color: var(--color-font) !important;
    }
  }

  .sidebar {
    box-shadow: none !important;
  }

  .homeCard:not(:last-child) {
    border-color: var(--border-md);
  }

  .homeLogo {
    filter: grayscale(100%);
  }

  .relatedCard {
    background-color: var(--color-1-20) !important;
  }

  .sectionIcon {
    color: var(--color-font);

    path {
      stroke: var(--color-font);
    }
  }

  .sectionItem {
    &.isActive {
      color: var(--color-font) !important;
      background-color: var(--color-1-100) !important;

      .sectionIcon {
        color: inherit;

        path {
          stroke: inherit;
        }
      }

      &::before {
        background-color: var(--highlighted);
      }
    }
  }

  .iconLight {
    display: none;
  }

  .iconDark {
    display: inline;
  }

  .imageWrapper {
    background-color: var(--color-black-75);
    border: 1px solid var(--border-md);
  }

  .home {
    background-color: var(--color-1-300);
  }

  .info {
    background-color: var(--color-1-500) !important;
    border-color: var(--border-md);
  }

  .activeSection {
    border-color: var(--color-font) var(--color-font) transparent !important;

    &::before {
      background-color: var(--color-font);
    }
  }

  .navWrapper {
    background-color: var(--color-black-5);
    border-top: 1px solid var(--border-md);

    &::before {
      background-color: var(--color-font);
    }
  }

  .normalOpacityFont {
    opacity: 1;
  }

  footer,
  .navbar {
    border-top: 1px solid var(--border-md);
    color: var(--color-font);
    box-shadow: none !important;
  }

  .jumbotron,
  .navbar + .navbar {
    border-bottom: 1px solid var(--border-md);
  }

  .labelIconWrapper {
    background-color: var(--body-bg) !important;
    color: var(--color-font) !important;

    &::before {
      background-color: var(--body-bg) !important;
    }
  }

  // Modal
  .modal-backdrop {
    opacity: 0.75;
    animation: none;
  }

  .modal-content {
    background-color: var(--body-bg);
    color: var(--color-font);
    border-color: var(--color-font) !important;
  }

  .modal-header,
  .modal-footer {
    border-color: var(--border-md);
  }

  .modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .close {
    color: var(--color-font);
    text-shadow: none;
  }

  .nav-tabs {
    border-color: var(--border-md);
  }

  .separator {
    background-color: var(--border-md);
  }

  .capability-level-diagram {
    filter: grayscale(1) invert(1);
  }

  .stepWrapper {
    &:not(:last-child)::before {
      background-color: $border-solid !important;
    }

    .step {
      background-color: var(--color-black-25) !important;
      border-color: $border-solid;

      &.activeStep {
        background-color: var(--highlighted) !important;
      }
    }
  }

  .iconSubsWrapper,
  .userAuth {
    border-color: var(--border-md);
  }

  .tooltip {
    &.bs-tooltip-bottom .arrow::before,
    &.bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
      border-bottom-color: var(--color-font) !important;
    }

    .tooltip-inner {
      background-color: var(--color-font) !important;
      color: var(--color-1-500) !important;
    }
  }
}
