[data-theme='dark'] {
  --border-md: rgba(209, 210, 211, 0.13);
  --code-bg-md: var(--color-1-700);
  --body-light-bg: #222529;

  --color-1-100: #222529;
  --color-1-300: #222529;
  --color-1-500: #131216;
  --color-1-700: #131216;
  --color-1-900: #0f0e11;

  --color-1-2: rgba(15, 14, 17, 0.98);
  --color-1-5: rgba(15, 14, 17, 0.95);
  --color-1-10: rgba(15, 14, 17, 0.9);
  --color-1-20: rgba(15, 14, 17, 0.8);

  --color-2-500: #0f0e11;

  --color-2-10: rgba(var(--color-2-500), 0.1);

  --color-3-10: rgba(34, 37, 41, 0.1);

  --color-black-5: rgba(255, 255, 255, 0.05);
  --color-black-15: rgba(255, 255, 255, 0.15);
  --color-black-25: rgba(255, 255, 255, 0.25);
  --color-black-75: rgba(255, 255, 255, 0.75);

  --color-white-50: rgba(0, 0, 0, 0.5);

  --logo-font: 'Archivo Black', cursive;

  --white: var(--body-bg);
  --black: var(--color-1-100);
  --light: var(--color-1-900);

  --color-font: #a3a3a6;
  --body-bg: #222529;

  --hightlighted: #1164a3;

  --border-solid: #737475;

  body {
    background-color: var(--body-bg);
    color: var(--color-font);
  }

  // $theme-colors for Bootstrap
  $color1: #1a1d21;
  $color2: #8c96a1;

  $font-color: #a3a3a6;

  .table {
    background-color: var(--color-1-700) !important;
    border-top: var(--border-md) !important;
    color: var(--color-font);

    th,
    td {
      border-color: var(--border-solid);
    }
  }

  .table-primary,
  .table-primary > td,
  .table-primary > th {
    background-color: var(--color-1-500);
    color: var(--color-font);
    border-color: var(--border-solid) !important;
  }

  .table-hover .table-primary:hover,
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: var(--color-1-2);
  }

  .table-bordered td {
    border-color: var(--border-solid) !important;
  }

  .table-hover tbody tr:hover {
    background-color: var(--color-black-5);
    color: inherit;
  }

  .border-bottom {
    border-color: var(--border-md) !important;
  }

  .btn {
    color: var(--color-font) !important;
  }

  .btn-primary,
  .btn-secondary,
  a.badge-secondary {
    @include button-variant($color1, rgba(209, 210, 211, 0.13));
  }

  .btn-success {
    @include button-variant(#275000, rgba(209, 210, 211, 0.13));
  }

  .badge-secondary {
    border-color: var(--border-md) !important;
    background-color: var(--color-font);
    color: var(--color-1-500);
  }

  .rssBadge {
    border-color: var(--border-md) !important;
    background-color: var(--color-font) !important;
    color: var(--color-1-500) !important;

    &:hover {
      background-color: var(--color-1-20) !important;
    }
  }

  .btn-outline-secondary {
    @include button-outline-variant($font-color);

    img {
      filter: grayscale(100%) invert(1) brightness(2);
    }

    &:hover {
      color: var(--color-1-900) !important;

      img {
        filter: grayscale(100%) invert(1) brightness(0);
      }
    }
  }

  .custom-control-label::before,
  select,
  input,
  .form-control {
    background-color: var(--body-bg);
    border-color: $color2;
    color: var(--color-font);
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--hightlighted);
    border-color: var(--hightlighted);
  }

  .custom-select:focus {
    border-color: var(--border-md);
  }

  .dropdown-item,
  .list-group-item {
    &:hover,
    &:focus {
      color: var(--color-font);
      background-color: var(--color-1-500);
    }
  }

  .dropdownItem:hover {
    background-color: var(--color-1-500);
  }

  .btn-link,
  a:not(.navbar-brand) {
    color: var(--color-font);

    &:hover,
    &:focus {
      color: darken($font-color, 0.3) !important;
    }
  }

  .nav-item .btn:hover::before {
    background-color: var(--color-font);
  }

  .navbar-brand {
    color: lighten($font-color, 0.5);

    &:hover,
    &:focus {
      color: inherit !important;
    }
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: var(--color-1-300);
  }

  .card,
  .list-group-item {
    background-color: var(--color-1-500) !important;
    border-color: var(--border-md) !important;
    box-shadow: none !important;
  }

  .activeVersion {
    color: var(--hightlighted);
  }

  .card a.text-primary {
    color: var(--color-font) !important;
  }

  .card:hover {
    border-color: rgba(209, 210, 211, 0.13) !important;
  }

  .btn {
    color: var(--color-font);
  }

  .text-muted,
  .textLight {
    color: var($font-color) !important;
  }

  a.textLight:hover,
  a.textLight:focus {
    color: #cbd3da !important;
  }

  .text-primary {
    color: #f8f9fa !important;
  }

  .text-secondary {
    color: $font-color !important;
  }

  .page-link {
    background-color: var(--color-1-300);
    color: $font-color;
    border-color: var(--color-font);
  }

  .page-item {
    &.disabled .page-link {
      background-color: var(--color-black-15) !important;
      color: $font-color;
      border-color: var(--color-font);
    }

    &.active .page-link {
      background-color: var(--hightlighted);
      border-color: var(--hightlighted);
    }
  }

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.95);
    border-color: var(--border-md);
    color: var(--color-font);

    .arrow {
      &::after,
      &::before {
        border-bottom-color: var(--border-md);
      }
    }
  }

  .dropdown-divider {
    border-color: var(--border-md);
  }

  .dropdown-item,
  .jumbotron {
    color: $font-color;
  }

  .package-detail-jumbotron {
    background-color: var(--color-1-500) !important;
    border-top: 1px solid var(--border-md);
  }

  code {
    color: $font-color !important;
  }

  .badge-light,
  .bg-light {
    background-color: var(--body-bg) !important;
    color: var(--color-font) !important;
    border-color: var(--border-md) !important;
  }

  .text-dark {
    color: var(--color-font) !important;
    &:hover {
      color: darken($font-color, 0.3) !important;
    }
  }

  .alert-primary {
    color: var(--color-font);
    background-color: var(--color-1-10);
    border-color: var(--color-1-20);
  }

  .alert-light {
    background-color: var(--color-1-900);
    color: var(--color-font);
    border-color: var(--border-md);
  }

  // Modifiers
  .searchBar {
    background-color: var(--body-bg);

    svg {
      color: var(--color-font) !important;
    }
  }

  .homeCard:not(:last-child) {
    border-color: var(--border-md);
  }

  .relatedCard {
    background-color: var(--color-1-20) !important;
  }

  .sectionIcon {
    color: var(--color-font);

    path {
      stroke: var(--color-font);
    }
  }

  .sectionItem {
    &.isActive {
      color: var(--color-font) !important;
      background-color: var(--color-1-100) !important;

      .sectionIcon {
        color: inherit;

        path {
          stroke: inherit;
        }
      }

      &::before {
        background-color: var(--hightlighted);
      }
    }
  }

  .repoIcon {
    filter: grayscale(100%) invert(1) brightness(2);
  }

  .textLight .repoIcon {
    filter: none;
  }

  .imageWrapper {
    background-color: var(--color-black-75);
    border: 1px solid var(--border-md);
  }

  .home {
    background-color: var(--color-1-300);
  }

  .info {
    background-color: var(--color-1-500) !important;
    border-color: var(--border-md);
  }

  .activeSection {
    border-color: var(--color-font) var(--color-font) transparent !important;

    &::before {
      background-color: var(--color-font);
    }
  }

  .navWrapper {
    background-color: var(--color-black-5);
    border-top: 1px solid var(--border-md);

    &::before {
      background-color: var(--color-font);
    }
  }

  footer,
  .navbar {
    border-top: 1px solid var(--border-md);
    color: var(--color-font);
    box-shadow: none !important;
  }

  .jumbotron,
  .navbar + .navbar {
    border-bottom: 1px solid var(--border-md);
  }

  // Modal
  .modal-backdrop {
    opacity: 0.75;
    animation: none;
  }

  .modal-content {
    background-color: var(--body-bg);
    color: var(--color-font);
    border-color: var(--color-font) !important;
  }

  .modal-header,
  .modal-footer {
    border-color: var(--border-md);
  }

  .modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .close {
    color: var(--color-font);
    text-shadow: none;
  }

  .nav-tabs {
    border-color: var(--border-md);
  }

  .separator {
    background-color: var(--border-md);
  }

  .capability-level-diagram {
    filter: grayscale(1) invert(1);
  }

  .stepWrapper {
    &:not(:last-child)::before {
      background-color: var(--color-black-25) !important;
    }

    .step {
      background-color: var(--color-black-25) !important;
    }
  }

  .iconSubsWrapper {
    border-color: var(--border-md);
  }

  .tooltip {
    &.bs-tooltip-bottom .arrow::before,
    &.bs-tooltip-auto[x-placement^='bottom'] .arrow::before {
      border-bottom-color: var(--color-font) !important;
    }

    .tooltip-inner {
      background-color: var(--color-font) !important;
      color: var(--color-1-500) !important;
    }
  }
}
