@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/static/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('/static/fonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/static/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}
