@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('/static/fonts/Lato/lato-300.woff2') format('woff2'),
    url('/static/fonts/Lato/lato-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('/static/fonts/Lato/lato-700.woff2') format('woff2'),
    url('/static/fonts/Lato/lato-700.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/static/fonts/Lato/lato-regular.woff2') format('woff2'),
    url('/static/fonts/Lato/lato-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('/static/fonts/Roboto_Mono/roboto-mono-regular.woff2') format('woff2'),
    url('/static/fonts/Roboto_Mono/roboto-mono-regular.woff') format('woff');
}

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'),
    url('/static/fonts/Archivo_Black/archivo-black-regular.woff2') format('woff2'),
    url('/static/fonts/Archivo_Black/archivo-black-regular.woff') format('woff');
}
