$font-family-sans-serif: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$font-family-monospace: 'Roboto Mono', 'Liberation Mono', 'Courier New', monospace !default;

$theme-colors: (
  primary: #659dbd,
  secondary: #39596c,
);

$body-bg: #f4f4f4;
$body-color: #38383f;

:root {
  --border-md: #eaecef;
  --code-bg-md: #f6f8fa;

  --color-1-100: #f1f6fa;
  --color-1-300: #b2cede;
  --color-1-500: #659dbd;
  --color-1-700: #39596c;
  --color-1-900: #1c2c35;

  --color-1-2: rgba(28, 44, 53, 0.02);
  --color-1-5: rgba(28, 44, 53, 0.05);
  --color-1-10: rgba(28, 44, 53, 0.1);
  --color-1-20: rgba(28, 44, 53, 0.2);

  --color-2-500: #b0cee0;

  --color-2-10: rgba(176, 206, 224, 0.1);

  --color-black-5: rgba(0, 0, 0, 0.05);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-25: rgba(0, 0, 0, 0.25);

  --color-white-50: rgba(256, 256, 256, 0.5);

  --logo-font: 'Archivo Black', cursive;

  --color-font: #38383f;
  --body-bg: #f4f4f4;
}

@import '~bootstrap/scss/bootstrap.scss';

.dropdown-item {
  padding: 0.5rem 1.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgba(101, 157, 189, 0.5);
}

.was-validated .form-control:valid {
  border-color: #ced4da !important;
  background-image: none !important;
  padding-right: 0.75rem !important;
}

.dropdown-menu .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  top: calc(-0.5rem - 1px);
  right: 1rem;

  &.arrow-iconBtn {
    right: 0.18rem;
  }

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: '';
    border-color: transparent;
    border-style: solid;
  }

  &::before {
    top: 0;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }

  &::after {
    top: 1px;
    border-width: 0 0.5rem 0.5rem 0.5rem;
    border-bottom-color: #fff;
  }
}

button.text-dark:hover,
button.text-dark:focus {
  color: #121416 !important;
}
