@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Mono|Archivo+Black);

$font-family-sans-serif: 'Lato', Roboto, 'Helvetica Neue', Arial, sans-serif !default;
$font-family-monospace:  'Roboto Mono', 'Liberation Mono', 'Courier New', monospace !default;

$theme-colors: (
  primary: #659DBD,
  secondary: #39596C,
);

$body-bg: #f4f4f4;
$body-color: #38383f;

:root {
  --border-md: #eaecef;
  --code-bg-md: #f6f8fa;

  --color-1-100: #F1F6FA;
  --color-1-300: #b2cede;
  --color-1-500: #659DBD;
  --color-1-700: #39596C;
  --color-1-900: #1C2C35;

  --color-1-2: rgba(28, 44, 53, .02);
  --color-1-5: rgba(28, 44, 53, .05);
  --color-1-10: rgba(28, 44, 53, .10);
  --color-1-20: rgba(28, 44, 53, .20);

  --color-2-500: #B0CEE0;

  --color-2-10: rgba(176, 206, 224, .10);

  --color-black-5: rgba(0, 0, 0, .05);
  --color-black-15: rgba(0, 0, 0, .15);
  --color-black-25: rgba(0, 0, 0, .25);

  --color-white-50: rgba(256, 256, 256, .50);

  --logo-font: 'Archivo Black', cursive;

  --color-font: #38383f;
  --body-bg: #f4f4f4;
}

@import '~bootstrap/scss/bootstrap.scss';

.dropdown-item {
  padding: 0.5rem 1.5rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(101,157,189,.5);
}

.was-validated .form-control:valid {
  border-color: #ced4da !important;
  background-image: none !important;
  padding-right: .75rem !important;
}

.dropdown-menu .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: .5rem;
  margin: 0 .3rem;
  top: calc(-.5rem - 1px);
  right: 1rem;

  &.arrow-iconBtn {
    right: .18rem;
  }

  &::before, &::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
  }

  &::before {
    top: 0;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: rgba(0,0,0,.25);
  }

  &::after {
    top: 1px;
    border-width: 0 .5rem .5rem .5rem;
    border-bottom-color: #fff;
  }
}
