.btnIcon {
  font-size: 0.65rem;
}

.btnDropdown {
  height: 1.75rem;
  width: 1.75rem;
  line-height: 0.85rem;
}

.dropdownMenu {
  top: 55px;
  right: 3px;
}

.imageWrapper {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  font-size: 1.5rem;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}
