.home {
  background-color: var(--white);
}

.jumbotron {
  border-radius: 0 !important;
  background-color: var(--color-1-900) !important;
  background: linear-gradient(130deg, var(--color-1-500) 0%, var(--color-1-700) 100%);
  color: var(--white);
  padding-top: 7rem !important;
}

.search {
  min-width: 250px;
  max-width: 500px;
}

.separator {
  background-color: var(--color-1-900);
  width: 3px;
  height: 30px;
}

.counterWrapper {
  width: 100px;
}

.logo {
  height: 70px;
  max-width: 75%;
}

.about {
  background-color: var(--color-1-700);
  font-weight: 300;
  font-size: 1.5rem;
}

.extraInfo {
  font-weight: 300;
  font-size: 1.5rem;
}

.aboutIcon {
  width: 75px;
}

.socialBtn {
  width: 110px;
}

@media only screen and (max-width: 767.98px) {
  .mainTitle {
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .mainTitle {
    font-size: 2rem !important;
  }

  .aboutIcon {
    width: 50px;
  }
}
