.home {
  background-color: var(--white);
}

.jumbotron {
  border-radius: 0 !important;
  background-color: var(--color-1-500);
  color: var(--white);
  padding-top: 7rem !important;
}

.search {
  min-width: 250px;
  max-width: 500px;
}

.allPkgBtn {
  color: var(--extra-light-gray);
}

.separator {
  background-color: var(--color-1-900);
  width: 3px;
  height: 30px;
}

.logo {
  height: 90px;
  width: auto;
}

.about {
  background-color: var(--color-1-600);
  font-weight: 300;
  font-size: 1.5rem;
}

.extraInfo {
  font-weight: 300;
  font-size: 1.5rem;
}

.aboutIcon {
  width: 75px;
}

.legendIcon {
  font-size: 70%;
  line-height: 1rem;
  margin-top: 0.5rem;
}

.socialBtn {
  width: 110px;
}

.repoGuideText {
  font-size: 80%;
  font-weight: 300;
}

.inlineLink {
  font-size: inherit;
  vertical-align: baseline;
  line-height: 1.15rem;
}

.iconLink:hover {
  text-decoration: none;
}

@media only screen and (max-width: 767.98px) {
  .mainTitle {
    font-size: 2.5rem !important;
  }

  .aboutIcon {
    width: 55px;
  }

  .extraInfo,
  .about,
  .legend {
    font-size: 1.15rem;
  }

  .logo {
    height: 70px;
  }
}

@media only screen and (max-width: 575.98px) {
  .mainTitle {
    font-size: 1.8rem !important;
  }

  .aboutIcon {
    width: 35px;
  }

  .logo {
    height: 40px;
  }

  .socialBtn {
    font-size: 85%;
    width: 90px;
  }
}

@media only screen and (min-width: 1920px) {
  .secondLine::before {
    content: '\00a0 ';
  }

  .search {
    max-width: 750px;
  }

  .repoGuideText {
    font-size: 90%;
  }
}
