.card {
  margin: 0 auto;
  max-width: 750px;
  box-shadow: 0px 0px 5px 0px var(--light);
}

.body {
  padding: 1.75rem !important;
}

@media only screen and (max-width: 767.98px) {
  .body {
    padding: 0.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    min-height: 198px;
  }
}

@media (hover: hover) {
  .card:hover {
    border-color: var(--color-1-700);
    box-shadow: 0px 0px 5px 0px var(--color-1-900);
  }
}
