.listItem {
  border-width: 2px;
}

.listItem:hover .buttons {
  opacity: 1;
}

.separator {
  width: 2px;
  background-color: var(--color-1-500);
}

.btnIcon {
  font-size: .65rem;
}

.modal code {
  word-wrap: normal !important;
  white-space: pre !important;
}

@media (hover: hover) {
  .buttons {
    transition: all .15s linear;
    opacity: 0;
  }
}

@media only screen and (max-width: 576px) {
  .btnIcon {
    font-size: .95rem;
  }

  .btnAction {
    margin-left: .5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50% !important;
    background-color: var(--color-1-10) !important;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}
