.active {
  animation: fadeIn .5s 1 ease-in-out forwards;
}

.activeBackdrop {
  animation: fadeIn50 .5s 1 ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn50 {
  from { opacity: 0; }
    to { opacity: .5; }
}

.modal pre {
  background-color: var(--color-1-10) !important;
  padding: 16px !important;
  border-radius: 3px;
}

.header {
  background-color: var(--color-1-10);
}
