.searchBar {
  background-color: var(--white);
  line-height: 1.5rem;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 0 0 0.3rem var(--color-black-15);
}

.searchBar:not(.big):hover {
  box-shadow: 0 0 0 0.3rem var(--color-black-25);
}

.big {
  height: 50px;
  border-radius: 25px;
}

.iconWrapper {
  color: var(--color-1-700);
  padding: .375rem .75rem;
}

.input {
  background-color: transparent;
  border: none;
  padding: .375rem 0;
}

.input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
  box-shadow: none;
}

.inputClean {
  padding-right: .75rem !important;
}

.loading {
  right: -30px;
  top: 5px;
}

.big + .loading {
  right: -50px;
  top: 10px;
}
