.wrapperCell {
  table-layout: fixed;
}

.badge {
  box-shadow: inset 0 0 2px var(--color-black-15);
}

.link {
  top: -2px;
}

.clickableCell:hover {
  cursor: pointer;
}

.noClickableCell:hover,
.noClickableCell:hover td {
  background-color: var(--bs-white) !important;
  box-shadow: none;
}
