.info {
  background-color: var(--color-1-2) !important;
  margin-top: 25px;
  width: 230px;
}

.body {
  padding: 0.5rem 1.25rem;
}

.badge {
  height: 16px;
  width: 16px;
  box-shadow: inset 0 0 2px var(--color-black-15);
  top: -1px;
}

.title {
  font-size: 0.7rem;
}

.summary {
  font-size: 0.9rem;
}

.badgeItems {
  background-color: var(--color-black-5);
}
