.progressBar {
  min-width: 35px;
}

.btnExpand {
  line-height: 1rem;
}

.badge {
  box-shadow: inset 0 0 2px var(--color-black-15);
}

.link {
  top: -2px;
}

.badgeSummary {
  min-width: 20px;
  margin: 0 auto;
}
