.tableTitle {
  font-size: 0.875rem;
}

.table {
  font-size: 0.875rem;
  min-width: 650px;
}

.body {
  background-color: var(--bs-white);
}

.fitCell {
  min-width: 1%;
}

.securityRatingBadge {
  top: -2px;
}

.badge:hover {
  text-decoration: none;
}
