.tableTitle {
  font-size: 0.875rem;
}

.table {
  font-size: 0.875rem;
  min-width: 650px;
}

.table tbody {
  background-color: var(--white);
}

.fitCell {
  width: 30px;
}

.securityRatingBadge {
  top: -2px;
}

.badge:hover {
  text-decoration: none;
}
