.tooltip {
  bottom: -40px;
  right: 0;
}

.tooltipArrow {
  right: 10px;
}

.tooltipArrow::before {
  border-bottom-color: var(--dark) !important;
}

.tooltipContent {
  background-color: var(--dark) !important;
}

.btn {
  height: 32px;
  width: 32px;
}
