.code {
  min-height: 100%;
  font-size: 0.85rem;
}

.disabled {
  opacity: 0.75;
}

.disabled > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-black-15);
  z-index: 1;
}
