.tooltip {
  width: 150px;
  top: 0;
  left: 0;
}

.rightAligned {
  right: 0;
}

.rightAligned .tooltip {
  left: auto;
  right: 0;
}

.tooltipArrow {
  left: 10px;
}

.rightAligned .tooltipArrow {
  left: auto;
  right: 10px;
}

.tooltipArrow::before {
  border-bottom-color: var(--color-1-900) !important;
}

.tooltipContent {
  background-color: var(--color-1-900) !important;
  max-width: 100%;
}

@media (hover: hover) {
  .tooltip {
    opacity: 0.9;
  }
}
