.modal {
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
}

.close {
  font-size: 2.5rem;
  color: #fcfcfc !important;
  opacity: 1;
}

.closeWrapper {
  right: 2rem;
}
