.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white-50);
  z-index: 1000;
}

.spinner {
  position: fixed;
  margin-top: 10rem;
  width: 4rem !important;
  height: 4rem !important;
}
