.wrapper {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.progressLine {
  height: 3px;
  width: 100%;
  margin: 0;
}

.progressLine {
  background-color: var(--color-1-300);
  display: -webkit-flex;
  display: flex;
}

.progressLine::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--color-1-700);
  animation: progress 3s infinite ease-in-out;
}

@keyframes progress {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    right: 0;
    width: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .progressLine::after {
    animation-duration: 4s;
  }
}
