.link {
  background-color: transparent;
  position: relative;
  top: -1px;
}

.dropdown {
  width: 350px;
  white-space: normal;
  font-size: 0.85rem;
  margin-top: 17px;
}

.content {
  padding: 0.75rem 1.25rem;
}

.imageWrapper {
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  font-size: 1.5rem;
}

.description {
  font-size: 0.75rem;
}

.externalLink {
  color: var(--gray-dark);
  background-color: transparent;
  text-decoration: underline;
  font-size: 0.85rem;
  line-height: 1;
}

@media only screen and (max-width: 575.98px) {
  .dropdown {
    display: none !important;
  }
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}
