.card {
  max-width: 100%;
  background-color: var(--white) !important;
  box-shadow: 0px 0px 5px 0px var(--light);
}

@media (hover: hover) {
  .card:hover {
    border-color: var(--color-black-50);
    box-shadow: 0px 0px 5px 0px var(--color-black-75);
  }
}

.body {
  padding: 1.75rem !important;
}

.link {
  color: var(--gray-dark);
  background-color: transparent;
}

.link:hover {
  color: inherit;
}

@media only screen and (max-width: 767.98px) {
  .body {
    padding: 1rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    min-height: 215px;
  }
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}
