.imageWrapper {
  position: relative;
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
}

.icon {
  height: auto;
  width: 18px;
}

.link {
  color: var(--gray-dark);
  background-color: transparent;
}

.link:hover {
  color: inherit;
}

.mx50 {
  max-width: 50%;
  text-align: left;
  width: auto;
}

.mx100 {
  max-width: 90%;
  text-align: left;
  width: auto;
}

.title {
  font-size: 1.15rem;
}

.titleWrapper {
  margin-top: -3px;
}

.subtitle {
  font-size: 0.9rem;
  line-height: 20px;
}

.subtitle span {
  font-size: 0.75rem;
}

.kind {
  font-size: 0.9rem;
  color: var(--color-1-500);
}

.truncateWrapper {
  min-width: 0;
}

.date {
  font-size: 75%;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.lastLine {
  position: relative;
  top: -1px;
}

.licenseBtn {
  position: relative;
  top: -2px;
}

.labelsWrapper > div:not(:last-child) {
  margin-right: 0.5rem;
}

.description {
  font-size: 0.9rem;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 575.98px) {
  .lineClamp {
    -webkit-line-clamp: 2;
  }
}

@media only screen and (max-width: 767.98px) {
  .imageWrapper {
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .description {
    font-size: 0.85rem;
  }

  .image {
    max-width: calc(100% - 4px);
    max-height: calc(100% - 4px);
  }
}

@media only screen and (min-width: 992px) {
  .labelsWrapper > div:not(:first-child) {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .labelsWrapper > div:first-child {
    margin-right: 0;
  }
}
