.link {
  color: var(--gray-dark);
  background-color: transparent;
}

.link:hover {
  color: inherit;
}

.subtitle {
  font-size: 0.85rem;
  line-height: 1.2;
}

.subtitle span:not(.mobileVersion) {
  font-size: 0.65rem;
}

.truncateWrapper {
  min-width: 0;
}

.mobileVersion {
  font-size: 85%;
}

.wrapper > div:not(:last-child) {
  max-width: 30%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .subtitle {
    font-size: 0.95rem;
  }
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}
