.imageWrapper {
  position: relative;
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
}

.icon {
  height: auto;
  width: 18px;
}

.link {
  color: var(--gray-dark);
  background-color: transparent;
}

.link:hover {
  color: inherit;
}

.mx50 {
  max-width: 50%;
  text-align: left;
  width: auto;
}

.mx100 {
  max-width: 90%;
  text-align: left;
  width: auto;
}

.title {
  font-size: 1.15rem;
}

.titleWrapper {
  margin-top: -3px;
}

.subtitle {
  font-size: 0.9rem;
  line-height: 1rem;
}

.subtitle span {
  font-size: 0.75rem;
}

.kind {
  font-size: 0.9rem;
  color: var(--color-1-500);
}

.truncateWrapper {
  min-width: 0;
}

.starBadge {
  background-color: var(--color-1-5);
  border: 1px solid var(--color-1-10);
}

.date {
  font-size: 75%;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.deprecatedBadge {
  border: 1px solid var(--danger);
  color: var(--danger);
  font-size: 0.5rem !important;
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 767.98px) {
  .imageWrapper {
    min-width: 60px;
    width: 60px;
    height: 60px;
  }

  .description {
    font-size: 0.9rem;
  }

  .deprecatedBadge {
    font-size: 0.6rem !important;
  }

  .image {
    max-width: calc(100% - 4px);
    max-height: calc(100% - 4px);
  }
}
