.badge {
  font-size: 75%;
  text-transform: none;
  height: 19px;
}

.bg {
  background-color: var(--color-1-5);
  border: 1px solid var(--color-1-10);
}

.icon {
  height: 12px;
  width: 12px;
  top: -1px;
}
