.closeModalBtn {
  margin: -1rem;
  padding: 1rem !important;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }

  .list {
    padding-inline-start: 20px;
  }
}
