.inputWrapper {
  background-color: var(--white);
  line-height: 1.5rem;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 0 0 0.3rem var(--color-black-15);
}

.searchBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 0.75rem;
}

.input {
  background-color: transparent;
  border: none;
  padding: 0.375rem 0;
}

.input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
  box-shadow: none;
}

.loading {
  top: 5px;
  right: 10px;
}

.dropdown {
  top: 2.65rem;
}

.table {
  word-break: break-word;
}

.table th {
  font-size: 0.875rem;
}

.clickableCell:hover {
  cursor: pointer;
}

.disabledCell {
  opacity: 0.5;
  background-color: var(--color-1-2);
}

.disabledCell:hover {
  background-color: var(--color-1-2) !important;
}

.fitCell {
  width: 1%;
}

.icon {
  height: 17px;
  width: auto;
}

.imageWrapper {
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 2px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 2px);
  max-height: calc(100% - 2px);
  font-size: 1.5rem;
}

.tableWrapper {
  max-height: 240px;
  overflow: scroll;
}

.tableWrapper thead th {
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-color: transparent;
}

.tableWrapper thead th:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: var(--border-md);
}

.tableWrapper thead th:first-child {
  border-top-left-radius: 2px;
}

.tableWrapper thead th:last-child {
  border-top-right-radius: 2px;
}

@media only screen and (max-width: 767.98px) {
  .tableWrapper td {
    font-size: 0.85rem;
  }
}
