.modalHeader {
  background-color: transparent;
  border: none;
  padding: 1.5rem;
  padding-bottom: 0;
}

.tipIcon {
  right: -12px;
  top: -18px;
}

.bigTipIcon {
  right: -40px;
}

.closeModalBtn {
  margin: -1rem;
  padding: 1rem !important;
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }

  .list {
    padding-inline-start: 20px;
  }
}

@media only screen and (min-width: 576px) {
  .bigTipIcon {
    right: -37px;
  }
}
