.searchBar {
  background-color: var(--white);
  line-height: 1.5rem;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 0 0 0.3rem var(--color-black-15);
}

.big {
  height: 50px;
  border-radius: 25px;
}

.iconWrapper {
  color: var(--color-1-700);
  padding: 0.375rem 0.75rem;
}

.input {
  background-color: transparent;
  border: none;
  padding: 0.375rem 0;
}

.input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
  box-shadow: none;
}

.inputClean {
  padding-right: 0.75rem !important;
}

.loading {
  right: 35px;
  top: 5px;
}

.bigLoading {
  right: 20px;
  top: 12px;
}

/* Dropdown */
.dropdown {
  min-width: 450px;
  margin-top: 0.5rem;
}

.imageWrapper {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border: 2px solid var(--color-1-10);
  box-shadow: 0px 0px 3px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 7px);
  max-height: calc(100% - 7px);
}

.dropdownItem {
  padding: 1rem;
}

.activeDropdownItem {
  background-color: var(--color-black-5);
}

.truncateWrapper {
  min-width: 0;
}

.title {
  font-size: 0.95rem;
  line-height: 1.2;
  font-weight: 500;
}

.smallText {
  font-size: 0.8rem;
}

.midText {
  font-size: 0.9rem;
}

.labelsWrapper > div:not(:last-child) {
  margin-right: 0.5rem;
}

.tipIcon {
  right: -12px;
  top: -18px;
}

.bigTipIcon {
  right: -40px;
}

.kindIcon {
  top: -1px;
}

@media only screen and (max-width: 767.98px) {
  .searchBar {
    height: 30px;
    border-radius: 15px;
  }

  .loading {
    top: 2px;
  }

  .big {
    height: 40px;
    border-radius: 20px;
  }

  .big + .loading {
    right: -45px;
    top: 5px;
  }
}

@media only screen and (min-width: 576px) {
  .bigTipIcon {
    right: -37px;
  }
}

@media only screen and (max-width: 575.98px) {
  .iconWrapper {
    padding-left: 0.5rem;
    padding-right: 0;
  }
}
