.inputWrapper {
  background-color: var(--white);
  line-height: 1.5rem;
  height: 36px;
  border-radius: 18px;
  box-shadow: 0 0 0 0.3rem var(--color-black-15);
}

.searchBtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 0.75rem;
}

.input {
  background-color: transparent;
  border: none;
  padding: 0.375rem 0;
  border-radius: 20px;
}

.input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
  box-shadow: none;
}

.loading {
  top: 5px;
  right: 10px;
}

.icon {
  height: 16px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.tinyIcon {
  font-size: 0.5rem;
}

.dropdown {
  max-height: 300px;
  overflow-x: auto;
}

.table th {
  font-size: 0.875rem;
}

.clickableCell:hover {
  cursor: pointer;
}

.disabledCell {
  opacity: 0.5;
  background-color: var(--color-1-2);
}

.disabledCell:hover {
  background-color: var(--color-1-2) !important;
}

.fitCell {
  width: 1%;
}

.tableWrapper {
  max-height: 240px;
  overflow: scroll;
}

.tableWrapper thead th {
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom-color: transparent;
}

.tableWrapper thead th:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background-color: var(--border-md);
}

.tableWrapper thead th:first-child {
  border-top-left-radius: 2px;
}

.tableWrapper thead th:last-child {
  border-top-right-radius: 2px;
}

.repoCell {
  width: 65%;
}

.activeUrlColumn .repoCell {
  width: 25%;
}

.urlCell {
  width: 45%;
}

.fieldFeedback {
  left: 0;
  top: 35px;
}

.truncateWrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .tableWrapper td {
    font-size: 0.85rem;
  }

  .activeUrlColumn .repoCell {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  .iconCell {
    width: 42px;
  }
}
