.badge {
  top: -2px;
  width: 22px;
  box-shadow: inset 0px 0px 2px 1px var(--color-black-25);
}

.tooltip {
  font-size: 0.75rem;
  width: 285px;
}

.tooltipArrow {
  right: 138px !important;
}

.ratingLetter {
  top: 1px;
}

.link {
  position: relative;
  top: -4px;
}

.link:hover {
  text-decoration: none;
}
