.badgeWrapper {
  top: -12px;
}

.badge {
  border: 1px solid var(--success);
  color: var(--success);
  font-size: 0.5rem !important;
}

.tooltip {
  width: 130px;
  bottom: -63px;
  left: 0;
}

.tooltipArrow {
  left: 10px;
}

.tooltipArrow::before {
  border-bottom-color: var(--color-1-900) !important;
}

.tooltipContent {
  background-color: var(--color-1-900) !important;
}

@media (hover: hover) {
  .badgeWrapper:hover .tooltip {
    opacity: 0.9;
  }
}
