.badge {
  background-color: var(--badge-bg);
  border: 1px solid var(--gray);
}

.size-xs {
  font-size: 0.45rem;
  padding: 0.15em 0.4em;
}

.size-xs .icon {
  font-size: 0.95em;
}

.size-sm {
  font-size: 0.7rem;
  padding: 0.2em 0.4em;
}

.size-sm .icon {
  font-size: 1em;
}
