.list {
  max-height: 300px;
}

.dropdown {
  top: 45px;
  max-width: 95%;
  width: 390px;
}

.btn path {
  stroke: inherit;
}

.icon {
  top: -1px;
}

.titleWrapper {
  margin: 25px 0 15px 0;
}

.title {
  line-height: 1.5;
  font-size: 1.85rem;
}

/* Scroll */
.list::-webkit-scrollbar {
  width: 10px;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #686868;
  border: 2px solid var(--white);
}

@media only screen and (max-width: 575.98px) {
  .title {
    font-size: 1.35rem;
  }

  .toc {
    margin-left: 15px;
  }
}
