.footer {
  padding: 1.5rem;
  background-color: var(--color-1-900);
  color: var(--white);
}

.invisibleFooter {
  background-color: var(--body-bg);
}

.invisibleFooter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white-50);
}

.brand {
  font-size: 2rem;
}

.hubFont {
  font-family: var(--logo-font);
}
