.dropdown {
  width: 300px;
}

.button {
  letter-spacing: 2px;
  color: var(--white) !important;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.button:focus {
  box-shadow: 0;
}

.button:hover::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--white);
  opacity: .5;
}

.button.active:hover::before {
  opacity: 1;
}

.button.active::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--white);
}
