.navbarToggler {
  border: 0 !important;
  transition: all .3s ease-in-out;
  background-color: transparent !important;
}

.iconWrapper {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  line-height: 1;
  font-size: 1.75rem !important;
}

.iconAuthWrapper {
  font-size: 1.75rem !important;
}
