.navbar {
  background-color: var(--color-1-500);
  padding: 1rem !important;
  min-height: 73px;
}

.navbar:not(.homeNavbar) {
  box-shadow: 0 8px 6px -6px var(--color-black-15);
}

.homeNavbar {
  background-color: transparent;
  position: absolute !important;
  width: 100%;
}

.brand {
  font-family: var(--logo-font);
  margin-right: 0.5rem !important;
}

.brand:focus {
  outline: none;
}

.search {
  max-width: 300px;
}

.button {
  letter-spacing: 2px;
  color: var(--white) !important;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button:focus {
  box-shadow: 0;
}

.badge {
  font-size: 0.5rem !important;
}

@media (min-width: 768px) {
  .navbar:not(.homeNavbar) {
    position: sticky !important;
    top: 0;
    z-index: 1040;
  }

  /* :global(.noScroll-modal) .navbar:not(.homeNavbar),
  :global(.noScroll-sidebar) .navbar:not(.homeNavbar) {
    z-index: 1;
  } */
}

@media (max-width: 767.98px) {
  .mobileWrapper {
    width: 100%;
    min-height: 54px;
  }
}

@media only screen and (min-width: 1920px) {
  .search {
    max-width: 500px;
  }
}

@media (hover: hover) {
  .button:hover::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--white);
    opacity: 0.5;
  }
}
