.iconWrapper {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-1-700);
  border: 2px solid var(--white);
  padding: 2px;
  overflow: hidden;
  line-height: 1;
  font-size: 1.25rem !important;
}

.dropdown {
  width: 16rem;
  top: 120% !important;
}

.arrow {
  right: 1.25rem !important;
}

.signedInText {
  padding: 0.25rem 1.5rem;
}
