.bannerWrapper {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.loaded {
  max-height: 1500px;
}

.banner {
  margin-top: 25px;
  width: 230px;
  background-color: var(--color-1-2) !important;
}

.image {
  width: auto;
}

@media only screen and (min-width: 1400px) {
  .banner {
    width: 260px;
  }
}

@media only screen and (min-width: 1920px) {
  .banner {
    width: 310px;
  }
}
