.table {
  table-layout: fixed;
}

.table tbody {
  background-color: var(--white);
}

.tableTitle:hover {
  background-color: inherit !important;
}

.containerImage {
  word-break: break-all;
  font-size: 0.9rem;
}

.icon {
  min-width: 15px;
  font-size: 0.85rem;
  margin-top: 6px;
  padding-right: 1px;
}

.copyBtn {
  position: relative;
  top: -2px;
}

.badgesWrapper {
  font-size: 80%;
}

.badgeDecorator {
  top: -6px;
  height: 14px;
  width: 10px;
  border-left: 1px solid var(--color-black-25);
  border-bottom: 1px solid var(--color-black-25);
}

.badge {
  border: 1px solid var(--orange);
  color: var(--orange);
}
