.table {
  table-layout: fixed;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.containerImage {
  font-size: 0.9rem;
}

.icon {
  min-width: 15px;
  font-size: 0.85rem;
  margin-top: 6px;
  padding-right: 1px;
}

.copyBtn {
  top: -2px;
}

.badgesWrapper {
  font-size: 80%;
}

.badgeDecorator {
  top: -6px;
  height: 14px;
  width: 10px;
  border-color: var(--color-black-25) !important;
}

.badge {
  border-color: var(--bs-orange) !important;
  color: var(--bs-orange);
}
