.table {
  table-layout: fixed;
}

.table tbody {
  background-color: var(--white);
}

.table,
.table th,
.table td {
  border-color: var(--color-1-300) !important;
}

.fitCell {
  width: 1%;
}

.tableTitle th {
  border-bottom-color: var(--color-1-300) !important;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.containerImage {
  word-break: break-all;
  font-size: 0.9rem;
}

.icon {
  font-size: 0.7rem;
  min-width: 12px;
  margin-top: 6px;
}

.copyBtn {
  position: relative;
  top: -2px;
}

.textWrapper {
  table-layout: fixed;
  font-size: 90%;
  line-height: 1.75rem;
}
