.table tbody {
  background-color: var(--white);
}

.fitCell {
  width: 1%;
}

.icon {
  width: 14px;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.dependency {
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.separator {
  padding: 0 2px;
}

.textWrapper {
  table-layout: fixed;
}
