.table tbody {
  background-color: var(--white);
}

.fitCell {
  width: 1%;
}

.icon {
  width: 14px;
}

.pkgIcon {
  min-width: 15px;
  font-size: 0.85rem;
  margin-top: 3px;
  padding-right: 1px;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.dependency {
  font-size: 0.9rem;
  overflow-wrap: break-word;
}

.separator {
  padding: 0 2px;
}

.textWrapper {
  table-layout: fixed;
}

.repoName {
  font-size: 0.75rem;
  margin-left: 1.4rem;
}

.repoNameInTable {
  font-size: 0.75rem;
  margin-top: 3px;
}

.copyBtn {
  position: relative;
  top: -2px;
}

.modal {
  width: 800px !important;
}

.versionCol {
  width: 15%;
}
