.table {
  table-layout: fixed;
}

.table tbody {
  background-color: var(--white);
}

.table,
.table th,
.table td {
  border-color: var(--color-1-300) !important;
}

.fitCell {
  width: 1%;
}

.releasedCell {
  width: 30%;
}

.tableTitle th {
  border-bottom-color: var(--color-1-300) !important;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.text {
  font-size: 0.9rem;
}

.select {
  height: 25px !important;
  line-height: 1rem !important;
  padding-left: 0.75rem !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767.98px) {
  .select:active {
    font-size: 16px !important;
  }
}
