.table {
  table-layout: fixed;
}

.table tbody {
  background-color: var(--white);
}

.releasedCell {
  width: 30%;
}

.tableTitle:hover {
  background-color: inherit !important;
}

.text {
  font-size: 0.9rem;
}
