.mainContent {
  flex: 0 0 calc(100% - 300px);
  max-width: calc(100% - 300px);
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  background-color: var(--color-1-10) !important;
  padding: 2rem 1rem !important;
  border-radius: 0 !important;
  margin-bottom: 0.5rem !important;
}

.imageWrapper {
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--color-1-20);
  box-shadow: 0px 0px 5px 0px var(--color-1-20);
}

.image {
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
}

.info {
  background-color: var(--color-1-2) !important;
  margin-top: 25px;
  width: 230px;
}

.labelOrg {
  font-size: 80%;
}

.subtitle {
  line-height: 1rem;
}

.modalInstallationWrapper code,
.codeWrapper code {
  word-wrap: normal !important;
  white-space: pre !important;
}

.link {
  color: var(--color-font) !important;
}

.link:hover {
  color: inherit;
}

.deprecatedBadge {
  border: 1px solid var(--danger);
  color: var(--danger);
  font-size: 0.5rem !important;
}

.extraSpace::before {
  content: ' ';
  display: inline-flex;
}

.titleWrapper {
  margin-right: 150px;
}

.optsWrapper {
  top: 0;
  right: 0;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
  .mainContent {
    max-width: 100%;
    flex-basis: 100%;
  }

  .imageWrapper {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }

  .image {
    max-width: calc(100% - 4px);
    max-height: calc(100% - 4px);
  }

  .readme {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .titleWrapper {
    margin-right: 0px;
  }

  .optsWrapper {
    margin-top: 1.5rem;
    position: relative !important;
  }

  .deprecatedBadge {
    font-size: 0.6rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .modalInstallationWrapper {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .codeWrapper {
    margin-left: 15px;
  }
}
