.md p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.md p code {
  hyphens: none;
  word-break: break-word;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  line-height: 1.5;
  margin: 25px 0 15px 0;
}

.md h1 {
  font-size: 1.85rem;
}

.md h2 {
  font-size: 1.6rem;
}

.md h3 {
  font-size: 1.45rem;
}

.md h4 {
  font-size: 1.3rem;
}

.md h5 {
  font-size: 1.15rem;
}

.md h6 {
  font-size: 1rem;
}

.md hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--border-md);
  border: 0;
}

.md pre {
  background-color: var(--color-1-10) !important;
  padding: 16px !important;
  border-radius: 3px;
}

.md ul {
  overflow-x: auto;
}

.md code {
  word-wrap: normal;
  white-space: pre;
  color: var(--color-1-700);
}

.md pre code {
  color: var(--black);
}

.md p code {
  white-space: normal;
}

.md table th,
.md table tr,
.md table td {
  border: 1px solid var(--border-md);
  padding: 6px 13px;
}

.md table tr:nth-child(2n) {
  background-color: var(--color-1-10) !important;
}

.md a {
  word-break: break-word;
}

.md img {
  max-width: 100%;
}

.btnLink {
  margin-top: -3px;
}

.headingLink {
  float: left;
  margin-left: -35px;
  width: 35px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
  line-height: 1;
  padding-top: 4px;
}

.headingLink svg {
  width: 16px;
  height: 16px;
}

.headingWrapper:hover .headingLink {
  opacity: 1;
}

@media only screen and (max-width: 576px) {
  .md {
    margin-left: 15px;
  }

  .headingLink {
    opacity: 1;
    margin-left: -25px;
    width: 25px;
  }

  .headingLink svg {
    width: 13px;
    height: 13px;
  }

  .md h1 {
    font-size: 1.65rem;
  }

  .md h2 {
    font-size: 1.4rem;
  }

  .md h3 {
    font-size: 1.3rem;
  }

  .md h4 {
    font-size: 1.15rem;
  }

  .md h5 {
    font-size: 1.05rem;
  }

  .md h6 {
    font-size: 1rem;
  }
}
