.md p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
  line-height: 1.5;
  margin: 25px 0 15px 0;
}

.md h1 {
  font-size: 1.85rem;
}

.md h2 {
  font-size: 1.6rem;
}

.md h3 {
  font-size: 1.45rem;
}

.md h4 {
  font-size: 1.3rem;
}

.md h5 {
  font-size: 1.15rem;
}

.md h6 {
  font-size: 1rem;
}

.md hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--border-md);
  border: 0;
}

.md pre {
  background-color: var(--color-1-10) !important;
  padding: 16px !important;
  border-radius: 3px;
}

.md code {
  word-wrap: normal;
  white-space: pre;
}

.md p code {
  white-space: normal;
}

.md table th, .md table tr, .md table td {
  border: 1px solid var(--border-md);
  padding: 6px 13px;
}

.md table tr:nth-child(2n) {
  background-color: var(--color-1-10) !important;
}

.md a {
  word-break: break-all;
}
