.md p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.md p code {
  hyphens: none;
  word-break: break-word;
}

.md hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--border-md);
  border: 0;
}

.md pre {
  background-color: var(--color-1-10) !important;
  padding: 16px !important;
  border-radius: 3px;
}

.md ul {
  overflow-x: auto;
}

.md code {
  word-wrap: normal;
  white-space: pre;
  color: var(--color-1-700);
}

.md pre code {
  color: var(--black);
}

.md p code {
  white-space: normal;
}

.md table th,
.md table tr,
.md table td {
  border: 1px solid var(--border-md);
  padding: 6px 13px;
}

.md table tr:nth-child(2n) {
  background-color: var(--color-1-10) !important;
}

.md a {
  word-break: break-word;
}

.md img {
  max-width: 100%;
}

.btnLink {
  margin-top: -3px;
}

@media only screen and (max-width: 576px) {
  .md {
    margin-left: 15px;
  }
}
