.starBtn {
  border-color: var(--color-1-500);
  border-top-left-radius: 50rem !important;
  border-bottom-left-radius: 50rem !important;
}

.starBtnContent {
  height: 21px;
  line-height: 1.15rem;
}

.starBtn.disabled,
.starBtn:disabled {
  opacity: 1 !important;
  cursor: default;
}

.starBadge {
  height: 31px;
  line-height: 1.5;
  font-size: 0.875rem;
  border: 1px solid var(--color-1-500);
  border-top-right-radius: 50rem !important;
  border-bottom-right-radius: 50rem !important;
}

.tooltip {
  top: 32px;
}

.tooltipArrow {
  left: calc(50% - 4px);
}

.wrapper:hover .tooltip {
  opacity: 1;
}

.spinner {
  left: -30px;
}
