.iconWrapper {
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  border: 1px solid var(--color-1-500);
  padding: 2px;
  overflow: hidden;
  line-height: 1;
  font-size: 1.25rem !important;
}

.dropdown {
  width: 21rem;
  top: 120% !important;
}

.arrow {
  right: 0.3rem !important;
}

.dropdownItem:not(.isDisabled):hover {
  background-color: var(--color-2-300);
}

.dropdownItem + .dropdownItem {
  border-top: 1px solid var(--border-md);
}

.isDisabled {
  cursor: auto;
}

.tooltip {
  left: -115px;
}

.tooltipArrow {
  right: 12px;
  left: auto;
}

.subsBtn.disabled,
.subsBtn:disabled,
.disabled {
  cursor: default;
}

@media only screen and (max-width: 767.98px) {
  .dropdown {
    width: 18rem;
    right: -5rem;
  }

  .arrow {
    right: 6.25rem !important;
  }
}
