.activeVersionDate {
  padding-left: 12px;
}

.badgesWrapper {
  font-size: 80%;
}

.badgeDecorator {
  top: -6px;
  height: 14px;
  width: 10px;
  border-left: 1px solid var(--color-black-25);
  border-bottom: 1px solid var(--color-black-25);
}

.badge {
  border: 1px solid var(--orange);
  color: var(--orange);
}
