.nav {
  padding: 1rem;
  text-align: center;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.15);
  background-color: #659dbd;
}

.nav img {
  height: 50px;
}

.topbar-wrapper img {
  opacity: 0;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
  border-color: #659dbd;
}

.swagger-ui .opblock-tag {
  margin: 0 0 25px;
}

@media only screen and (max-width: 575.98px) {
  .opblock-section-request-body .opblock-section-header {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .opblock-section-request-body .opblock-section-header > label {
    margin: 0 !important;
    margin-top: .5rem !important;
  }

  .opblock-section-request-body .opblock-section-header > label,
  .opblock-section-request-body .opblock-section-header > label > div {
    max-width: 100%;
  }

  .opblock-section-request-body .opblock-section-header > select {
    min-width: auto;
    width: 100%;
  }

  .response-col_status, .response-col_links {
    min-width: auto !important;
  }

  .opblock-summary {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .opblock-summary .opblock-summary-path {
    padding: 10px 0 !important;
  }

  .swagger-ui .scheme-container .schemes {
    display: block;
  }

  .swagger-ui .auth-wrapper {
    justify-content: start;
    margin-top: 10px;
  }

  .swagger-ui .response-col_links {
    display: none;
  }

  .swagger-ui .response-col_description, .swagger-ui  .parameters-col_description {
    font-size: 80%;
  }

  .swagger-ui  .parameters-col_description {
    word-break: break-word;
  }

  .swagger-ui .authorization__btn.unlocked {
    position: absolute;
    right: 20px;
    margin-top: 5px;
  }

  .swagger-ui .response-controls {
    display: block;
  }
}
