openapi: 3.0.3
info:
  title: Artifact Hub
  description: "Find, install and publish Kubernetes packages"
  version: 0.19.0
  contact:
    name: Artifact Hub support
    url: https://cloud-native.slack.com/channels/artifact-hub
servers:
  - url: "https://artifacthub.io/api/v1"
    description: Main production server
  - url: "https://staging.artifacthub.io/api/v1"
    description: Staging server for testing
  - url: "http://localhost:8000/api/v1"
    description: Local server for development
tags:
  - name: Users
    description: ""
  - name: Organizations
    description: ""
  - name: Repositories
    description: ""
  - name: Packages
    description: ""
  - name: Subscriptions
    description: ""
  - name: Webhooks
    description: ""
  - name: Availability checks
    description: ""
  - name: Stats
    description: ""
  - name: Integrations
    description: ""
paths:
  /users:
    post:
      tags:
        - Users
      summary: Register a new user
      description: Register a new user
      operationId: registerUsers
      requestBody:
        description: ""
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - alias
                - email
                - password
              properties:
                alias:
                  type: string
                  example: jdoe
                first_name:
                  type: string
                  example: John
                last_name:
                  type: string
                  example: Doe
                email:
                  type: string
                  format: email
                  example: jdoe@email.com
                password:
                  type: string
                  format: password
                  example: pass123
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/verify-email:
    post:
      tags:
        - Users
      summary: Verify user's email address
      description: Verify user's email address
      operationId: verifyEmail
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  format: uuid
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "410":
          $ref: "#/components/responses/GoneError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/profile:
    get:
      tags:
        - Users
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's profile
      description: Get user's profile
      operationId: getUserProfile
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Users
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update user's profile
      description: Update user's profile
      operationId: updateUserProfile
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/password:
    put:
      tags:
        - Users
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update user's password
      description: Update user's password
      operationId: updateUserPassword
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              type: object
              required:
                - old
                - new
              properties:
                old:
                  type: string
                  format: password
                new:
                  type: string
                  format: password
              example:
                old: oldPass
                new: newPass
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/password-reset-code:
    post:
      tags:
        - Users
      summary: Register a code to reset the password
      description: Register a code to reset the password
      operationId: resetPasswordCode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/verify-password-reset-code:
    post:
      tags:
        - Users
      summary: Verify a reset password code
      description: Verify a reset password code
      operationId: verifyPasswordCode
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  format: uuid
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "410":
          $ref: "#/components/responses/GoneError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /users/reset-password:
    put:
      tags:
        - Users
      summary: Reset the user's password
      description: Reset the user's password
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - password
              properties:
                code:
                  type: string
                  format: uuid
                password:
                  type: string
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /orgs:
    post:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Register new organization
      description: Register new organization
      operationId: addOrganization
      requestBody:
        description: ""
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationSummary"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /orgs/user:
    get:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organizations the user belongs to
      description: Get organizations the user belongs to
      operationId: getUserOrganizations
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Organization"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}":
    get:
      tags:
        - Organizations
      summary: Get organization profile
      description: Get organization profile
      operationId: getOrganizationProfile
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSummary"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Updates organization profile
      description: Updates organization profile
      operationId: updateOrganizationProfile
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      requestBody:
        description: ""
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationSummary"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete organization
      description: Delete organization
      operationId: deleteOrganization
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}/authorization-policy":
    get:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organization's authorization policy
      description: Get organization's authorization policy
      operationId: getOrganizationAuthPolicy
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationPolicy"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update organization's authorization policy
      description: Update organization's authorization policy
      operationId: updateOrganizationAuthPolicy
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      requestBody:
        description: ""
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthorizationPolicy"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}/members":
    get:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organization members
      description: Get organization members
      operationId: getOrganizationMembers
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}/member/{userAlias}":
    post:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add a new member to the organization
      description: Add a new member to the organization
      operationId: addOrganizationMember
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/UserAliasParam"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete a member from the organization
      description: Delete a member from the organization
      operationId: deleteOrganizationMember
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/UserAliasParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}/accept-invitation":
    get:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Confirm user's membership to an organization
      description: Confirm user's membership to an organization
      operationId: acceptOrganizationInvitation
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/orgs/{orgName}/user-allowed-actions":
    get:
      tags:
        - Organizations
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: >-
        Get actions which user is allowed to perform in the provided
        organization
      description: >-
        Get actions which user is allowed to perform in the provided
        organization
      operationId: getAllowedActions
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuthorizerAction"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /repositories:
    get:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get all repositories
      description: Get all repositories
      operationId: getRepositories
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/{repoKindParam}":
    get:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get all available repositories of the provided kind
      description: Get all available repositories of the provided kind
      operationId: getRepositoriesByKind
      parameters:
        - $ref: "#/components/parameters/RepoKindParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /repositories/user:
    get:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's repositories
      description: Get user's repositories
      operationId: getUserReposirories
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add user's repository
      description: Add user's repository
      operationId: addUserRepository
      requestBody:
        $ref: "#/components/requestBodies/RepositoryBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/user/{repoName}":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add user's repository
      description: Add user's repository
      operationId: updateUserRepository
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
      requestBody:
        $ref: "#/components/requestBodies/RepositoryBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete user's repository
      description: Delete user's repository
      operationId: deleteUserRepository
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/user/{repoName}/transfer":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Transfer user's repository ownership to an organization
      description: Transfer user's repository ownership to an organization
      operationId: transferRepositoryOwnershipToOrganization
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/OrgNameToTransferParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/user/{repoName}/claim-ownership":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Claim the ownership of a given repository
      description: Claim the ownership of a given repository
      operationId: claimRepositoryOwnership
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/OrgNameToTransferParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/org/{orgName}":
    get:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organization's repositories
      description: Get organization's repositories
      operationId: getOrganizationRepositories
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Repository"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add organization's repository
      description: Add organization's repository
      operationId: addOrganizationRepository
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      requestBody:
        $ref: "#/components/requestBodies/RepositoryBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/org/{orgName}/{repoName}":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update organization's repository
      description: Update organization's repository
      operationId: updateOrganizationRepository
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/RepoNameParam"
      requestBody:
        $ref: "#/components/requestBodies/RepositoryBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete organization's repository
      description: Delete organization's repository
      operationId: deleteOrganizationRepository
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/RepoNameParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/org/{orgName}/{repoName}/transfer":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Transfer organization's repository to a different owner
      description: Transfer organization's repository to a different owner
      operationId: transferRepositoryOwnership
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/OrgNameToTransferParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/repositories/org/{orgName}/{repoName}/claim-ownership":
    put:
      tags:
        - Repositories
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Claim the ownership of a given repository
      description: Claim the ownership of a given repository
      operationId: claimRepositoryOwnershipFromOrganization
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/OrgNameToTransferParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /packages/stats:
    get:
      tags:
        - Packages
      summary: Get the number of packages and releases registered
      description: Get the number of packages and releases registered
      operationId: getPackageStats
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  packages:
                    type: integer
                  releases:
                    type: integer
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /packages/random:
    get:
      tags:
        - Packages
      summary: Get some random packages
      description: Get some random packages
      operationId: getRandomPackages
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PackageSummary"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /packages/search:
    get:
      tags:
        - Packages
      summary: Search packages that meet the provided criteria
      description: Search packages that meet the provided criteria
      operationId: searchPackages
      parameters:
        - $ref: "#/components/parameters/OffsetParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/FacetsParam"
        - $ref: "#/components/parameters/TSQueryWebParam"
        - $ref: "#/components/parameters/TSQueryParam"
        - $ref: "#/components/parameters/RepositoryKindsListParam"
        - $ref: "#/components/parameters/UsersListParam"
        - $ref: "#/components/parameters/OrgsListParam"
        - $ref: "#/components/parameters/RepositoriesListParam"
        - $ref: "#/components/parameters/LicensesListParam"
        - $ref: "#/components/parameters/CapabilitiesListParam"
        - $ref: "#/components/parameters/DeprecatedParam"
        - $ref: "#/components/parameters/OperatorsParam"
        - $ref: "#/components/parameters/VerifiedPublisherParam"
        - $ref: "#/components/parameters/OfficialParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        nullable: false
                        items:
                          $ref: "#/components/schemas/PackageSummary"
                      facets:
                        type: array
                        nullable: false
                        items:
                          $ref: "#/components/schemas/Facets"
                  metadata:
                    type: object
                    nullable: false
                    required:
                      - total
                    properties:
                      limit:
                        type: integer
                        nullable: false
                      offset:
                        type: integer
                        nullable: false
                      total:
                        type: integer
                        nullable: false
              examples:
                s1:
                  value:
                    data:
                      packages:
                        - package_id: a9c77b9a-2cd1-4a8f-b9e8-6b8f94e13407
                          name: artifact-hub
                          normalized_name: artifact-hub
                          logo_image_id: 0f5488e2-da57-486b-a20f-bfe746ed3e23
                          stars: 2
                          description: >-
                            Artifact Hub is a web-based application that enables
                            finding, installing, and publishing Kubernetes
                            packages.
                          version: 0.1.0
                          app_version: 0.1.0
                          deprecated: false
                          ts: 1617098261617098268
                          repository:
                            url: "http://url.com"
                            kind: 0
                            name: artifact-hub
                            display_name: Artifact Hub
                            repository_id: a032a436-3568-4970-804a-2780f5e9d231
                            organization_name: artifacthub
                            organization_display_name: Artifact Hub
                            verified_publisher: true
                            official: true
                        - package_id: 3af7b6a1-adbd-41f1-ad96-e1eb3350b019
                          name: sentry-kubernetes
                          normalized_name: sentry-kubernetes
                          logo_image_id: 55f2ed75-015d-4edd-9990-11fb2ffcae9e
                          stars: 0
                          description: A Helm chart for sentry-kubernetes
                          version: 0.2.3
                          app_version: latest
                          deprecated: false
                          ts: 1617098268
                          repository:
                            url: "http://url.com"
                            kind: 0
                            name: incubator
                            display_name: Incubator
                            repository_id: dba459d0-6beb-451a-b15a-52d67cc93fa0
                            organization_name: helm
                            organization_display_name: Helm
                            verified_publisher: false
                            official: false
                        - package_id: 0d38123f-fb60-41f0-bd00-76fb331bf7ed
                          name: etcd-operator
                          normalized_name: etcd-operator
                          logo_image_id: 5gt2ed75-015d-40dd-9990-11fb2tgcae9e
                          stars: 0
                          description: CoreOS etcd-operator Helm chart for Kubernetes
                          version: 0.10.3
                          app_version: 0.9.4
                          deprecated: false
                          ts: 1617098268
                          repository:
                            url: "http://url.com"
                            kind: 0
                            name: stable
                            display_name: Stable
                            repository_id: 486f6d4c-9f66-11eb-a8b3-0242ac130003
                            organization_name: helm
                            organization_display_name: Helm
                            verified_publisher: false
                            official: false
                      facets:
                        - title: Organization
                          filter_key: org
                          options:
                            - id: helm
                              name: Helm
                              total: 53
                            - id: artifacthub
                              name: Artifact Hub
                              total: 1
                        - title: kind
                          filter_key: kind
                          options:
                            - id: "0"
                              name: Helm charts
                              total: 54
                        - title: Repository
                          filter_key: repo
                          options:
                            - id: stable
                              name: Stable
                              total: 16
                            - id: incubator
                              name: Incubator
                              total: 36
                            - id: artifact-hub
                              name: Artifact Hub
                              total: 1
                    metadata:
                      limit: 15
                      offset: 3
                      total: 54
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /packages/starred:
    get:
      tags:
        - Packages
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get packages starred by user
      description: Get packages starred by user
      operationId: getStarredPackagesByUser
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PackageSummary"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/coredns/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getCoreDNSPluginDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoreDNSPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/helm/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getHelmPackageDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelmPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/helm-plugin/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getHelmPluginDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelmPluginPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/falco/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getFalcoRulesDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FalcoPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/keda-scaler/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getKedaScalerDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KedaScalerPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/krew/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getKubectlPluginDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrewPluginsPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/opa/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getOPAPoliciesDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OPAPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/olm/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getOLMOperatorDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OLMPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/tbaction/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getTinkerbellActionsDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TBActionPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/tekton-task/{repoName}/{packageName}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getTektonTaskDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TektonTaskPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/coredns/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package details
      description: Get package details
      operationId: getCoreDNSPluginVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoreDNSPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/helm/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getHelmPackageVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelmPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/helm-plugin/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getHelmPluginVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HelmPluginPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/falco/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getFalcoRulesVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FalcoPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/keda-scaler/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKedaScalerVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KedaScalerPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/krew/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getKubectlPluginVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrewPluginsPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/opa/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getOPAPoliciesVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OPAPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/olm/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getOLMOperatorVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OLMPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/tbaction/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTinkerbellActionsVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TBActionPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/tekton-task/{repoName}/{packageName}/{version}":
    get:
      tags:
        - Packages
      summary: Get package version details
      description: Get package version details
      operationId: getTektonTaskVersionDetails
      parameters:
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TektonTaskPackage"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{repoKindParam}/{repoName}/{packageName}/summary":
    get:
      tags:
        - Packages
      summary: Get package summary details
      description: Get package summary details
      operationId: getPackageSummary
      parameters:
        - $ref: "#/components/parameters/RepoKindParam"
        - $ref: "#/components/parameters/RepoNameParam"
        - $ref: "#/components/parameters/PackageNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PackageSummary"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{packageID}/stars":
    get:
      tags:
        - Packages
      summary: Get package stars
      description: Get package stars
      operationId: getPackageStars
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  stars:
                    type: integer
                  starred_by_user:
                    type: boolean
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Packages
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Toggle package's star
      description: Toggle package's star
      operationId: togglePackageStar
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{packageID}/{version}/security-report":
    get:
      tags:
        - Packages
      summary: Get package security report
      description: Get package security report
      operationId: getPackageSecurityReport
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                nullable: false
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{packageID}/{version}/values-schema":
    get:
      tags:
        - Packages
      summary: Get package values schema
      description: Get package values schema
      operationId: getPackageValuesSchema
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                nullable: false
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{packageID}/changelog":
    get:
      tags:
        - Packages
      summary: Get package changelogs
      description: Get package changelogs
      operationId: getPackageChangelog
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - version
                    - ts
                    - contains_security_updates
                    - prerelease
                  properties:
                    version:
                      type: string
                      nullable: false
                    ts:
                      type: integer
                      nullable: false
                    changes:
                      type: array
                      items:
                        type: object
                        required:
                          - description
                        properties:
                          description:
                            type: string
                            nullable: false
                          kind:
                            $ref: "#/components/schemas/ChangeKind"
                          links:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - url
                              properties:
                                name:
                                  type: string
                                  nullable: false
                                url:
                                  type: string
                                  format: uri
                                  nullable: false
                            nullable: false
                      nullable: false
                    contains_security_updates:
                      type: boolean
                      nullable: false
                    prerelease:
                      type: boolean
                      nullable: false
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/packages/{packageID}/{version}/templates":
    get:
      tags:
        - Packages
      summary: Get the templates for a Helm chart package
      description: Get the templates for a Helm chart package
      operationId: getHelmChartTemplates
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
        - $ref: "#/components/parameters/VersionParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                required:
                  - templates
                  - values
                properties:
                  templates:
                    type: array
                    items:
                      type: object
                      required:
                        - name
                        - data
                      properties:
                        name:
                          type: string
                          nullable: false
                        data:
                          type: string
                          format: byte
                          nullable: false
                  values:
                    type: object
                    nullable: false
                    additionalProperties: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /subscriptions:
    get:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's subscriptions
      description: Get user's subscriptions
      operationId: getUserSubscriptions
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - package_id
                    - name
                    - normalized_name
                    - repository
                    - event_kinds
                  properties:
                    package_id:
                      type: string
                      format: uuid
                      nullable: false
                    name:
                      type: string
                      nullable: false
                      example: pkg1
                    normalized_name:
                      type: string
                      nullable: false
                      example: pkg1
                    logo_image_id:
                      type: string
                      nullable: false
                      example: 12345abcde
                    repository:
                      $ref: "#/components/schemas/RepositorySummary"
                    event_kinds:
                      type: array
                      items:
                        $ref: "#/components/schemas/EventKindId"
                      nullable: false
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add subscription
      description: Add subscription
      operationId: addPackageSubscription
      requestBody:
        $ref: "#/components/requestBodies/SubscriptionBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete subscription
      description: Delete subscription
      operationId: deletePackageSubscription
      parameters:
        - $ref: "#/components/parameters/PackageIDQueryParam"
        - $ref: "#/components/parameters/EventKindParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/subscriptions/{packageID}":
    get:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's subscriptions for the given package
      description: Get user's subscriptions for the given package
      operationId: getPackageUserSubscriptions
      parameters:
        - $ref: "#/components/parameters/PackageIDParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - event_kind
                  properties:
                    event_kind:
                      $ref: "#/components/schemas/EventKindId"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /subscriptions/opt-out:
    get:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's opt-out entries
      description: Get user's opt-out entries
      operationId: getUserOptOutEntries
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - opt_out_id
                    - repository
                    - event_kind
                  properties:
                    opt_out_id:
                      type: string
                      format: uuid
                      nullable: false
                    repository:
                      $ref: "#/components/schemas/RepositorySummary"
                    event_kind:
                      $ref: "#/components/schemas/EventKindId"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add opt-out entry
      description: Add opt-out entry
      operationId: addOptOutEntry
      requestBody:
        $ref: "#/components/requestBodies/OptOutBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/subscriptions/opt-out/{optOutID}":
    delete:
      tags:
        - Subscriptions
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete opt-out entry
      description: Delete opt-out entry
      operationId: deleteOptOutEntry
      parameters:
        - $ref: "#/components/parameters/OptOutIDParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks/user:
    get:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's webhooks
      description: Get user's webhooks
      operationId: getUserWebhooks
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add user's webhook
      description: Add user's webhook
      operationId: addUserWebhook
      requestBody:
        $ref: "#/components/requestBodies/WebhookBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/webhooks/user/{webhookID}":
    get:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get user's webhook
      description: Get user's webhook
      operationId: getUserWebhookDetail
      parameters:
        - $ref: "#/components/parameters/WebhookIDParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update user's webhook
      description: Update user's webhook
      operationId: updateUserWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookIDParam"
      requestBody:
        $ref: "#/components/requestBodies/WebhookBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete user's webhook
      description: Delete user's webhook
      operationId: deleteUserWebhook
      parameters:
        - $ref: "#/components/parameters/WebhookIDParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/webhooks/org/{orgName}":
    get:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organization's webhooks
      description: Get organization's webhooks
      operationId: getOrganizationWebhooks
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Add organization's webhook
      description: Add organization's webhook
      operationId: addOrganizationWebhook
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
      requestBody:
        $ref: "#/components/requestBodies/WebhookBody"
      responses:
        "201":
          $ref: "#/components/responses/Created"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/webhooks/org/{orgName}/{webhookID}":
    get:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Get organization's webhook
      description: Get organization's webhook
      operationId: getOrganizationWebhookDetails
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/WebhookIDParam"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Update organization's webhook
      description: Update organization's webhook
      operationId: updateOrganizationWebhook
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/WebhookIDParam"
      requestBody:
        $ref: "#/components/requestBodies/WebhookBody"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Delete organization's webhook
      description: Delete organization's webhook
      operationId: deleteOrganizationWebhook
      parameters:
        - $ref: "#/components/parameters/OrgNameParam"
        - $ref: "#/components/parameters/WebhookIDParam"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /webhooks/test:
    post:
      tags:
        - Webhooks
      security:
        - ApiKeyId: []
          ApiKeySecret: []
      summary: Trigger webhook test
      description: Trigger webhook test
      operationId: triggerWebhookTest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookTest"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/check-availability/{resourceKind}":
    head:
      tags:
        - Availability checks
      summary: Check the availability of a given value for the provided resource kind
      description: Check the availability of a given value for the provided resource kind
      operationId: checkAvailability
      parameters:
        - $ref: "#/components/parameters/ResourceKindNameParam"
        - in: query
          name: v
          schema:
            type: string
          required: true
          description: Value to check
      responses:
        "204":
          description: "Found, the value is not available"
        "404":
          description: "Not found, the value is available"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /stats:
    get:
      tags:
        - Stats
      summary: Get Artifact Hub stats
      description: Get Artifact Hub stats
      operationId: getArtifactHubStats
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                required:
                  - generated_at
                  - packages
                  - snapshots
                  - repositories
                  - organizations
                  - users
                properties:
                  generated_at:
                    type: integer
                    nullable: false
                  packages:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: integer
                        nullable: false
                      running_total:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                      created_monthly:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                  repositories:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: integer
                        nullable: false
                      running_total:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                      created_monthly:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                  snapshots:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: integer
                        nullable: false
                      running_total:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                      created_monthly:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                  organizations:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: integer
                        nullable: false
                      running_total:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                  users:
                    type: object
                    required:
                      - total
                    properties:
                      total:
                        type: integer
                        nullable: false
                      running_total:
                        type: array
                        items:
                          type: array
                          items:
                            type: integer
                        nullable: false
                example:
                  generated_at: 1615980004171
                  packages:
                    total: 969
                    running_total:
                      - - 1585612800000
                        - 917
                      - - 1585872000000
                        - 918
                      - - 1586736000000
                        - 937
                      - - 1586908800000
                        - 938
                      - - 1586995200000
                        - 949
                      - - 1587340800000
                        - 953
                      - - 1587427200000
                        - 955
                      - - 1587513600000
                        - 969
                    created_monthly:
                      - - 1583020800000
                        - 917
                      - - 1585699200000
                        - 52
                  snapshots:
                    total: 3998
                    running_total:
                      - - 1585612800000
                        - 3906
                      - - 1585699200000
                        - 3922
                      - - 1585785600000
                        - 3935
                      - - 1585872000000
                        - 3948
                      - - 1586044800000
                        - 3951
                      - - 1586131200000
                        - 3959
                      - - 1586217600000
                        - 3981
                      - - 1586304000000
                        - 3998
                    created_monthly:
                      - - 1583020800000
                        - 3906
                      - - 1585699200000
                        - 92
                  repositories:
                    total: 181
                    running_total:
                      - - 1585612800000
                        - 172
                      - - 1585872000000
                        - 173
                      - - 1586736000000
                        - 176
                      - - 1586908800000
                        - 177
                      - - 1586995200000
                        - 181
                  organizations:
                    total: 8
                    running_total:
                      - - 1585612800000
                        - 3
                      - - 1585785600000
                        - 6
                      - - 1585872000000
                        - 7
                      - - 1586217600000
                        - 8
                  users:
                    total: 9
                    running_total:
                      - - 1584403200000
                        - 3
                      - - 1584489600000
                        - 5
                      - - 1584576000000
                        - 6
                      - - 1584662400000
                        - 8
                      - - 1584921600000
                        - 9
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /harbor-replication:
    get:
      tags:
        - Integrations
      summary: Get Harbor replication dump
      description: Get Harbor replication dump
      operationId: getHarborReplicationDump
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - repository
                    - package
                    - version
                    - url
                properties:
                  repository:
                    type: string
                    nullable: false
                  package:
                    type: string
                    nullable: false
                  version:
                    type: string
                    nullable: false
                  url:
                    type: string
                    format: uri
                    nullable: false
                example:
                  - repository: bitnami
                    package: nginx-ingress-controller
                    version: 5.6.10
                    url: https://charts.bitnami.com/bitnami/nginx-ingress-controller-5.6.10.tgz
                  - repository: bitnami
                    package: mediawiki
                    version: 6.3.6
                    url: https://charts.bitnami.com/bitnami/mediawiki-6.3.6.tgz
                  - repository: crossplane
                    package: crossplane
                    version: 0.0.0-793.c9c71f8
                    url: https://charts.crossplane.io/master/crossplane-0.0.0-793.c9c71f8.tgz
                  - repository: choerodon
                    package: devops-service
                    version: 0.22.0
                    url: https://openchart.choerodon.com.cn/choerodon/c7n/charts/devops-service-0.22.0.tgz
                  - repository: t3n
                    package: snipeit
                    version: 2.4.0
                    url: https://storage.googleapis.com/t3n-helm-charts/snipeit-2.4.0.tgz
                  - repository: bitnami
                    package: osclass
                    version: 7.0.10
                    url: https://charts.bitnami.com/bitnami/osclass-7.0.10.tgz
                  - repository: choerodon
                    package: asgard-service
                    version: 0.13.0
                    url: https://openchart.choerodon.com.cn/choerodon/c7n/charts/asgard-service-0.13.0.tgz
                  - repository: bitnami
                    package: osclass
                    version: 3.2.0
                    url: https://charts.bitnami.com/bitnami/osclass-3.2.0.tgz
                  - repository: cronce
                    package: torrentor
                    version: 0.3.0
                    url: https://charts.cronce.io/charts/torrentor-0.3.0.tgz
                  - repository: banzaicloud-stable
                    package: kafka-operator
                    version: 0.0.12
                    url: https://kubernetes-charts.banzaicloud.com/charts/kafka-operator-0.0.12.tgz
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  securitySchemes:
    ApiKeyId:
      type: apiKey
      in: header
      name: X-API-KEY-ID
    ApiKeySecret:
      type: apiKey
      in: header
      name: X-API-KEY-SECRET
  schemas:
    AuthorizerAction:
      type: string
      enum:
        - all
        - addOrganizationMember
        - addOrganizationRepository
        - deleteOrganizationMember
        - deleteOrganizationRepository
        - getAuthorizationPolicy
        - transferOrganizationRepository
        - updateAuthorizationPolicy
        - updateOrganization
        - updateOrganizationRepository
      description: >
        Authorization policy action:

        * `all` - All actions

        * `addOrganizationMember` - Add member to organization

        * `addOrganizationRepository` - Add repository to organization

        * `deleteOrganizationMember` - Delete member from organization

        * `deleteOrganizationRepository` - Delete repository from organization

        * `getAuthorizationPolicy` - Get authorization policy

        * `transferOrganizationRepository` - Transfer repository from
        organization

        * `updateAuthorizationPolicy` - Update authorization policy

        * `updateOrganization` - Update organization

        * `updateOrganizationRepository` - Update repository from organization
    AuthorizationPolicy:
      type: object
      required:
        - authorization_enabled
      properties:
        authorization_enabled:
          type: boolean
          nullable: false
        predefined_policy:
          type: string
          nullable: false
          example: rbac.v1
        custom_policy:
          type: string
          nullable: false
          example: |
            package artifacthub.authz

            # By default, deny requests
            default allow = false

            # Allow the action if the user is allowed to perform it
            allow {
              # If user's role is owner
              data.roles.owner.users[_] == input.user
            }
            allow {
              # If user's role is allowed to perform this action
              allowed_actions[_] == input.action
            }

            # Get user allowed actions
            allowed_actions[action] {
              user_roles[_] == "owner"
              action := "all"
            }
            allowed_actions[action] {
              action := data.roles[role].allowed_actions[_]
              user_roles[_] == role
            }

            # Get user roles
            user_roles[role] {
              data.roles[role].users[_] == input.user
            }
        policy_data:
          type: object
          nullable: false
          additionalProperties: true
          example:
            roles:
              owner:
                users:
                  - user1
              customRole1:
                users:
                  - member1
                  - member2
                allowed_actions:
                  - addOrganizationMember
                  - addOrganizationRepository
    ChangeKind:
      type: string
      enum:
        - added
        - changed
        - deprecated
        - removed
        - fixed
        - security
      nullable: false
      description: |
        Types of changes:
          * `added` - New features
          * `changed` - Changes in existing functionality
          * `deprecated` - Soon-to-be removed features
          * `removed` - Removed features
          * `fixed` - Any bug fixed
          * `security` - In case of vulnerabilities
    Error:
      type: object
      properties:
        message:
          type: string
          example: error details
    EventKindId:
      type: integer
      enum:
        - 0
        - 2
      nullable: false
      description: |
        Event kind:
          * `0` - New package release
          * `2` - Repository tracking errors
          * `4` - Repository scanning errors
    Facets:
      type: object
      required:
        - filter_key
        - title
        - options
      properties:
        filter_key:
          type: string
          nullable: false
        title:
          type: string
          nullable: false
        options:
          type: array
          nullable: false
          items:
            type: object
            required:
              - id
              - name
              - total
            properties:
              id:
                type: string
                nullable: false
              name:
                type: string
                nullable: false
              total:
                type: integer
                nullable: false
      example:
        title: Organization
        filter_key: org
        options:
          - id: f41e7480-8d5c-40d3-9ba6-65ac0da8fc9c
            name: Helm
            total: 292
          - id: b771c9a8-0076-444c-ad5e-927abe14173d
            name: Artifact Hub
            total: 1
    CoreDNSPackage:
      $ref: "#/components/schemas/Package"
    FalcoPackage:
      allOf:
        - $ref: "#/components/schemas/Package"
        - type: object
          properties:
            data:
              type: object
              nullable: false
              properties:
                rules:
                  oneOf:
                    - type: array
                      items:
                        type: object
                        nullable: false
                        properties:
                          Raw:
                            type: string
                            example: |
                              - macro: text
                                condition: (evt.num < 0)
                    - type: object
                      nullable: false
                      additionalProperties: true
    HelmPackage:
      allOf:
        - $ref: "#/components/schemas/Package"
        - type: object
          properties:
            crds:
              type: array
              nullable: false
              items:
                type: object
                required:
                  - kind
                  - name
                  - version
                  - description
                  - displayName
                properties:
                  kind:
                    type: string
                    nullable: false
                  name:
                    type: string
                    nullable: false
                  version:
                    type: string
                    nullable: false
                  description:
                    type: string
                    nullable: false
                  displayName:
                    type: string
                    nullable: false
            crds_examples:
              type: array
              nullable: false
              items:
                type: object
                additionalProperties: true
            data:
              type: object
              nullable: false
              properties:
                apiVersion:
                  type: string
                  example: v2
                  nullable: false
                type:
                  type: string
                  example: application
                  nullable: false
                kubeVersion:
                  type: string
                  example: ">=1.16.0-0"
                  nullable: false
                dependencies:
                  type: object
                  nullable: false
                  required:
                    - name
                    - version
                    - repository
                  properties:
                    name:
                      type: string
                      nullable: false
                      example: mysql
                    version:
                      type: string
                      nullable: false
                      example: 1.6.4
                    repository:
                      type: string
                      nullable: false
                      example: "http://repo.url"
    HelmPluginPackage:
      $ref: "#/components/schemas/Package"
    KedaScalerPackage:
      $ref: "#/components/schemas/Package"
    KrewPluginsPackage:
      allOf:
        - $ref: "#/components/schemas/Package"
        - type: object
          properties:
            data:
              type: object
              nullable: false
              properties:
                platforms:
                  type: array
                  items:
                    type: string
                    nullable: false
                    example: darwin/amd64
                manifestRaw:
                  type: string
                  additionalProperties:
                    type: string
                  example: "apiVersion: krew.googlecontainertools.github.com/v1alpha2"
    Link:
      type: object
      nullable: false
      required:
        - url
        - name
      properties:
        url:
          type: string
          format: uri
          nullable: false
          example: "http://url"
        name:
          type: string
          nullable: false
          example: link
    Maintainer:
      type: object
      nullable: false
      required:
        - name
        - email
      properties:
        maintainer_id:
          type: string
          format: uuid
          nullable: false
        name:
          type: string
          nullable: false
          example: maintainer1
        email:
          type: string
          nullable: false
          example: maintainer@email.com
    Member:
      type: object
      required:
        - alias
        - confirmed
      properties:
        alias:
          type: string
          nullable: false
          example: jdoe
        first_name:
          type: string
          nullable: false
          example: John
        last_name:
          type: string
          nullable: false
          example: Doe
        confirmed:
          type: boolean
          nullable: false
          example: true
    OLMPackage:
      allOf:
        - $ref: "#/components/schemas/Package"
        - type: object
          properties:
            crds:
              type: array
              nullable: false
              items:
                type: object
                nullable: false
                required:
                  - kind
                  - name
                  - version
                  - description
                  - displayName
                properties:
                  kind:
                    type: string
                    nullable: false
                  name:
                    type: string
                    nullable: false
                  version:
                    type: string
                    nullable: false
                  description:
                    type: string
                    nullable: false
                  displayName:
                    type: string
                    nullable: false
            crds_examples:
              type: array
              nullable: false
              items:
                type: object
                additionalProperties: true
            data:
              type: object
              required:
                - isGlobalOperator
              properties:
                isGlobalOperator:
                  type: boolean
                  nullable: false
                customResourcesDefinitions:
                  type: array
                  nullable: false
                  items:
                    type: object
                    required:
                      - kind
                      - name
                      - version
                      - description
                      - displayName
                    properties:
                      kind:
                        type: string
                        nullable: false
                      name:
                        type: string
[...]
