.anchor {
  margin-top: -20px;
}

.templateWrapper {
  border-radius: 3px;
  border: 1px solid var(--color-black-15);
  background-color: var(--extra-light-gray);
}

.pre {
  opacity: 0.9 !important;
  font-size: 80%;
  overscroll-behavior: contain;
}

.errorAlert {
  white-space: pre-wrap;
  width: calc(100% - 6rem);
}

@media only screen and (max-width: 767.98px) {
  .title {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 576px) {
  .modalDialog {
    max-width: 80% !important;
    min-height: calc(100% - 10rem) !important;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem auto !important;
  }
}
