.tabs {
  border-bottom-color: var(--color-1-900) !important;
  padding-bottom: 1px;
}

.btn {
  margin-bottom: -1px;
}

.active {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-color: var(--color-1-900) !important;
  border-bottom: 1px solid var(--color-1-500) !important;
  margin-bottom: 0;
}

.legend {
  font-size: 75%;
}

.blockWrapper {
  flex-basis: calc(100% - 45px);
  max-width: calc(100% - 45px);
}

.copyBtn {
  height: 28px;
  width: 28px;
  margin-top: 0.9rem;
}
