{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/sort": "error"
  },
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "sort-imports": "off",
        "import/order": "off"
      }
    }
  ]
}
